// This css is paired with the js in `background-image.js` to allow us
// to use fully responsive background images that are not possible with css alone.
// Read that file for a little more detail.
[data-responsive-background-image] {
  background-size: cover;
  background-position: center center;
}

[data-responsive-background-image--src] {
  display: none;
}
