@mixin button-base {
  @include space-inset-xs;

  border-radius: 2px;
  cursor: pointer;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-align: center;
}

@mixin button--filled(
  $bg: $nypl-blue-regular,
  $color: $white,
  $hoverBg: darken($bg, 0.25)
) {
  @include button-base;

  background-color: $bg;
  border: none;
  color: $color;

  &:visited {
    color: $color;
  }

  &:hover {
    background-color: $hoverBg;
  }
}

@mixin button--outline {
  @include button-base;

  background-color: $white;
  border: 1px solid $gray-light;
  color: inherit;

  &:visited {
    color: inherit;
  }

  &:hover {
    background-color: $gray-xxlight;
  }
}

.button {
  @include button--filled;
}

.button--outline {
  @include button--outline;
}

.buttons__icon {
  @include icon;
}
