/// Link
$color-link: $nypl-red-regular;
$color-link--hover: $nypl-red-dark;

@mixin link($color: $color-link, $hover: $color-link--hover) {
  color: $color;
  font-weight: 500;

  &:hover {
    color: $hover;
    animation-duration: 0.5s;
    animation-name: linkSlideUp;
  }
}

@mixin more-link($color: $color-link, $color--hover: $color-link--hover) {
  $selector: &;

  @include type-scale(-1);

  display: inline-flex;
  flex-flow: row nowrap;
  color: #{$color};
  text-decoration: none;
  font-weight: 500;
  line-height: 1;

  &:hover {
    color: #{$color--hover};
    text-decoration: underline;
  }

  &__icon {
    @include icon;

    margin-left: $space-xxs;
    height: 1rem;
    width: 1rem;
  }
}

a,
.link {
  @include link;
}

.more-link {
  @include more-link;
}

@keyframes linkSlideUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-2px);
  }
}
