/// Link
$color-link: $nypl-blue-regular;
$color-link--hover: $nypl-blue-dark;

@mixin link {
  color: $color-link;

  &:hover {
    color: $color-link--hover;
  }
}

@mixin more-link {
  display: inline-flex;
  color: $color-link;
  text-decoration: underline;
  font-size: 0.875em;
  line-height: 1.21;
  letter-spacing: 0.107142857em;
  
  &:hover {
    color: $color-link--hover;
    text-decoration: underline;
  }

  &--icon-left {
    flex-flow: row-reverse nowrap;
    text-decoration: none;
  }

  &--icon-right {
    flex-flow: row nowrap;
    text-decoration: none;
  }

  &__icon {
    @include icon;

    height: 1rem;
    width: 1rem;

    &--left {
      @include space-inline-xxs;
    }

    &--right {
      margin-left: $space-xxs;
    }

  }
}

.link {
  @include link;
}

.more-link {
  @include more-link;
}
