.pagination {
    @include space-stack-l;

    align-items: stretch;
    display: flex;
    width: 100%;

    > * {
        &:not(:last-child) {
            @include space-inline-xs;
        }
    }

    .label {
        @include space-stack-none;

        align-self: center;
    }

    .select {
        @include space-stack-none;
    }
}
