.pagination {
    @include space-stack-l;

    align-items: stretch;
    display: flex;
    width: 100%;

    > * {
        &:not(:last-child) {
            @include space-inline-xs;
        }
    }
    ul {
        display: flex;
        li {
            list-style-type: none;
            button {
                text-decoration: none;
                &.selected {
                    color: var(--ui-black);
                }
            }
        }
    }
}
