.pagination {
    @include space-stack-l;

    align-items: stretch;
    display: flex;
    width: 100%;

    > * {
        &:not(:last-child) {
            @include space-inline-xs;
        }
    }
    ul {
        display: flex;
        li {
            list-style-type: none;
            a {
                line-height: 1.15;
                padding: 8px;
                text-decoration: none;
                &.selected {
                    color: var(--ui-black);
                }
                &[role="button"] {
                    cursor: pointer;
                }
                &.disabled {
                    color: var(--ui-gray-medium);
                    pointer-events: none;
                }
            }
        }
    }
}
