@import "../../styles/base/_03-mixins.css";

.pagination {
  align-items: stretch;
  display: flex;
  margin-bottom: var(--space-l);
  width: 100%;

  > * {
    &:not(:last-child) {
      margin-right: var(--space-xs);
    }
  }

  &__list {
    @add-mixin list-reset;

    display: flex;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    line-height: 1.15;
    padding: 8px;
    text-decoration: none;

    &.selected {
      color: var(--ui-black);
    }

    &.disabled {
      color: var(--ui-gray-dark);
      pointer-events: none;
    }
  }
}
