.notification {
  border-radius: 4px;
  display: flex;
  font-size: var(--font-size--1);
  margin: var(--space-s);
  padding: var(--space) var(--space-l);
  position: relative;

  &__container {
    margin: auto;
    max-width: 1280px;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  &--centered {
    text-align: center;

    header {
      justify-content: center;
    }

    .content {
      display: block;
    }
  }

  &--fill-space {
    border-radius: 0;
    margin: 0;
  }

  &--standard {
    background-color: var(--ui-status-primary);
  }

  &--announcement {
    background-color: var(--ui-gray-light);

    .notification-heading {
      color: var(--section-research-secondary);
    }
  }

  &--warning {
    background-color: var(--ui-gray-xxlight);

    .notification-heading {
      color: var(--brand-primary);
    }

    .notification-content {
      color: var(--brand-primary);
    }
  }

  &--align-text {
    .notification-content {
      padding-left: calc(var(--space-m) + var(--space-s));
    }
  }

  header {
    display: flex;
    margin-bottom: var(--space-s);

    .notification-heading {
      margin-bottom: 0;
    }
  }

  .notification-icon {
    flex-shrink: 0;
    margin-right: var(--space-s);
  }

  .dismissible-button {
    color: var(--ui-black);
    padding: 0;
    position: absolute;
    right: var(--space-xs);
    top: var(--space-xs);
  }
}
