<p><button href="#" class="btn">Subscribe</button></p>

<p><button href="#" class="btn">
    <span class="icon icon-search-white"></span>
    Search</button>
</p>

<p><button href="#" class="btn outline">Hello World</button></p>

<p><button href="#" class="btn outline">
    <span class="icon icon-search"></span>
    Search</button>
</p>

<p><button href="#" class="btn outline large">Register</button></p>

<p><button href="#" class="btn disabled">Disabled Button</button></p>

<p><button href="#" class="text-btn">Text Button</button></p>