<div class="centered">
  <p>
    <h4>Atom: Button _Filled Button</h4>
    <button href="#" class="btn">Subscribe</button>

    {% verbatim %}
<pre><code>
&lt;button href=&quot;#&quot; class=&quot;btn&quot;&gt;Subscribe&lt;/button&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Filled Button with Icon</h4>
    <button href="#" class="btn">
      <span class="icon icon-search-white"></span>
      Search
    </button>

    {% verbatim %}
<pre><code>
&lt;button href=&quot;#&quot; class=&quot;btn&quot;&gt;<br/>  &lt;span class=&quot;icon icon-search-white&quot;&gt;&lt;/span&gt;<br/>  Search<br/>&lt;/button&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Outline Button</h4>
    <button href="#" class="btn btn-outline">Hello World</button>

    {% verbatim %}
<pre><code>
&lt;button href=&quot;#&quot; class=&quot;btn btn-outline&quot;&gt;Hello World&lt;/button&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Outline Button with Icon</h4>
    <button href="#" class="btn btn-outline">
      <span class="icon icon-search"></span>
      Search
    </button>

    {% verbatim %}
<pre><code>
&lt;button href=&quot;#&quot; class=&quot;btn btn-outline&quot;&gt;
  &lt;span class=&quot;icon icon-search&quot;&gt;&lt;/span&gt;
  Search
&lt;/button&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Outline Button Large</h4>
    <button href="#" class="btn btn-large btn-outline">Register</button>

    {% verbatim %}
<pre><code>
&lt;button href=&quot;#&quot; class=&quot;btn btn-large btn-outline&quot;&gt;Register&lt;/button&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Filled Button Large</h4>
    <button href="#" class="btn btn-large">Register</button>

    {% verbatim %}
<pre><code>
&lt;button href=&quot;#&quot; class=&quot;btn btn-large&quot;&gt;Register&lt;/button&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Cancel Button</h4>
    <button href="#" class="btn btn-cancel">Cancel</button>

    {% verbatim %}
<pre><code>
&lt;button href=&quot;#&quot; class=&quot;btn btn-cancel&quot;&gt;Cancel&lt;/button&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Text Button</h4>
    <a href="#" class="btn btn-text">Hello World</a>

    {% verbatim %}
<pre><code>
&lt;a href=&quot;#&quot; class=&quot;btn btn-text&quot;&gt;Hello World&lt;/a&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Text Button with Arrow</h4>
    <p><strong>Please note:</strong> this atom's placement subject to change</p>
    <a href="#" class="btn-text">
      Learn More
      <span class="icon icon-arrow-right"></span>
    </a>

    {% verbatim %}
<pre><code>
&lt;a href=&quot;#&quot; class=&quot;btn-text&quot;&gt;
  Learn More
  &lt;span class=&quot;icon icon-arrow-right&quot;&gt;&lt;/span&gt;
&lt;/a&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Tag Button</h4>
    <button href="#" class="btn btn-tag">Kidslive</button>

    {% verbatim %}
<pre><code>
&lt;button href=&quot;#&quot; class=&quot;btn btn-tag&quot;&gt;Kidslive&lt;/button&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Round Button Large</h4>
    <button href="#" class="btn btn-round-large">Load More</button>

    {% verbatim %}
<pre><code>
&lt;button href=&quot;#&quot; class=&quot;btn btn-round-large&quot;&gt;Load More&lt;/button&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Round Button Large with Icon</h4>

    <div class="btn-group">
      <button href="#" class="btn btn-round-large btn-round-icon">
        <span class="icon icon-plus"></span>
      </button>
      <button href="#" class="btn btn-round-large btn-round-icon">
        <span class="icon icon-minus"></span>
      </button>
    </div>

    {% verbatim %}
<pre><code>
&lt;div class=&quot;btn-group&quot;&gt;
  &lt;button href=&quot;#&quot; class=&quot;btn btn-round-large btn-round-icon&quot;&gt;
    &lt;span class=&quot;icon icon-plus&quot;&gt;&lt;/span&gt;
  &lt;/button&gt;
  &lt;button href=&quot;#&quot; class=&quot;btn btn-round-large btn-round-icon&quot;&gt;
    &lt;span class=&quot;icon icon-minus&quot;&gt;&lt;/span&gt;
  &lt;/button&gt;
&lt;/div&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Related Link</h4>
    <button href="#" class="btn-related-link">
      <span class="placeholder">??</span>
      {Related Link}
    </button>

    {% verbatim %}
<pre><code>
&lt;button href=&quot;#&quot; class=&quot;btn-related-link&quot;&gt;
  &lt;span class=&quot;placeholder&quot;&gt;??&lt;/span&gt;
  {Related Link}
&lt;/button&gt;
</pre></code>
    {% endverbatim %}
  </p>

  <p>
    <h4>Atom: Button _Filled Button Disabled</h4>
    <button href="#" class="btn disabled">Disabled Button</button>

    {% verbatim %}
<pre><code>
&lt;button href=&quot;#&quot; class=&quot;btn disabled&quot;&gt;Disabled Button&lt;/button&gt;
</pre></code>
    {% endverbatim %}
  </p>
</div>