<h4>Atom: Button _Filled Button</h4>
<p><button href="#" class="btn">Subscribe</button></p>

<h4>Atom: Button _Filled Button with Icon</h4>
<p><button href="#" class="btn">
    <span class="icon icon-search-white"></span>
    Search</button>
</p>

<h4>Atom: Button _Outline Button</h4>
<p><button href="#" class="btn btn-outline">Hello World</button></p>

<h4>Atom: Button _Outline Button with Icon</h4>
<p><button href="#" class="btn btn-outline">
    <span class="icon icon-search"></span>
    Search</button>
</p>

<h4>Atom: Button _Outline Button Large</h4>
<p><button href="#" class="btn btn-large btn-outline">Register</button></p>

<h4>Atom: Button _Filled Button Large</h4>
<p><button href="#" class="btn btn-large">Register</button></p>

<h4>Atom: Button _Cancel Button</h4>
<p><button href="#" class="btn btn-cancel">Cancel</button></p>

<h4>Atom: Button _Text Button</h4>
<p><button href="#" class="btn btn-text">Hello World</button></p>

<h4>Atom: Button _Text Button with Arrow</h4>
<p>
  <button href="#" class="btn btn-text">
    Learn More
    <span class="icon icon-arrow-right"></span>
  </button>
</p>

<h4>Atom: Button _Tag Button</h4>
<p><button href="#" class="btn btn-tag">KidsLive</button></p>

<h4>Atom: Button _Round Button Large</h4>
<p><button href="#" class="btn btn-round-large">Load More</button></p>

<h4>Atom: Button _Round Button Large with Icon</h4>
<p>
  <button href="#" class="btn btn-round-large btn-round-icon">
    <span class="icon icon-plus"></span>
  </button>

  <button href="#" class="btn btn-round-large btn-round-icon">
    <span class="icon icon-minus"></span>
  </button>
</p>

<h4>Atom: Button _Related Link</h4>
<p>
  <button href="#" class="btn round large">
    Load More
  </button>
</p>

<h4>Atom: Button _Filled Button Disabled</h4>
<p><button href="#" class="btn disabled">Disabled Button</button></p>
