$break-breadcrumbs: $medium; // $medium = 720px
$break-breadcrumbs-mobile: max-width 719px;

.breadcrumbs {
  background-color: $nypl-turquoise-dark;
  padding: $space-xs 0;
}

.breadcrumbs__list {
  @include list-reset;
  @include wrapper;

  color: $white;
}

.breadcrumbs__item {
  @include type-scale(-1);

  position: relative;
  display: inline-flex;
  align-items: center;
  line-height: 1.5;
  letter-spacing: -0.023em;

  &:not(:last-child) {
    &::after {
      content: '/';
      margin-left: $space-xxs;
    }

    @include breakpoint($break-breadcrumbs-mobile) {
      display: none;
    }
  }

  &:last-child {
    @include breakpoint($break-breadcrumbs-mobile) {
      padding-left: $space-m;
    }
  }
}

.breadcrumbs__icon {
  @include icon;

  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(90deg) translateX(-50%);

  @include breakpoint($break-breadcrumbs) {
    display: none;
  }
}

.breadcrumbs__link,
.breadcrumbs__link:link,
.breadcrumbs__link:visited,
.breadcrumbs__link:focus {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

// Styles only for Pattern Lab
.pl {
  #molecules-breadcrumbs {
    nav {
      @include breakout;
    }
  }
}
