{#
  Variables:
  ongoing - Whether this is an ongoing event
  date_tile__start_date - The event's starting date
  date_tile__end_date - The event's ending date
 #}

{% set date_tile__base_class = 'date-tile' %}

<div {{ bem(date_tile__base_class, date_tile__modifiers) }} aria-hidden="true">
  <div {{ bem('date', [], date_tile__base_class) }}>
    {% if ongoing == true %}
      {% include "@molecules/date-tile/_date-tile--date.twig" with {
        date_tile__month: 'Ongoing',
      } %}
    {% elseif date(date_tile__start_date) < date() and date(date_tile__end_date) > date() %}
      {% include "@molecules/date-tile/_date-tile--date.twig" with {
        date_tile__month: 'Open',
        date_tile__day: 'Now',
      } %}
    {% else %}
      {% include "@molecules/date-tile/_date-tile--date.twig" with {
        date_tile__month: date_tile__start_date|date('M'),
        date_tile__day: date_tile__start_date|date('j'),
      } %}
    {% endif %}
  </div>
  {% if (date_tile__end_date) and (date_tile__start_date|date('M/d') != date_tile__end_date|date('M/d')) %}
    <span {{ bem('separator', [], date_tile__base_class) }}>–</span>
    <div {{ bem('date', [], date_tile__base_class) }}>
      {% include "@molecules/date-tile/_date-tile--date.twig" with {
        date_tile__month: date_tile__end_date|date('M'),
        date_tile__day: date_tile__end_date|date('j'),
      } %}
    </div>
  {% endif %}
</div>
