.input {
  &__radio {
    display: inline-block;

    + label {
      display: inline-block;
      font-size: var(--font-size-0);
      font-weight: 300;
      margin-left: var(--space-s);
    }

    &:disabled {
      + label {
        color: var(--ui-gray-dark);
        font-style: italic;
      }
    }
  }
}
