.radio {
  -webkit-appearance: none;
  border: 2px solid $black;
  border-radius: 50%;
  display: inline-block;
  height: 1.375rem;
  outline: none;
  position: relative;
  vertical-align: middle;
  width: 1.375rem;

  &:before {
    border-radius: 100%;
    content: "";
    display: block;
    height: 0.75rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.75rem;
  }

  &:checked {
    border-color: $focus;

    &:before {
      background-color: $focus;
    }
  }

  + label {
    display: inline-block;
    font-size: var(--font-size-0);
    font-weight: 300;
    margin-bottom: 0px;
    margin-left: var(--space-xs);
    vertical-align: middle;

    + .helper-text {
      margin-bottom: 0;
      margin-left: calc(22px + var(--space-xs));
      margin-top: var(--space-xs);
    }
  }

  &--error {
    border-color: $error;

    + label {
      color: $error;

      + .helper-text {
        color: $error;
      }
    }

    &:checked {
      border-color: $error;

      &:before {
        background-color: $error;
      }
    }
  }

  &:disabled {
    border-color: $gray-medium;

    &:before {
      background-color: $gray-medium;
    }

    + label {
      color: $gray-dark;
      font-style: italic;

      + .helper-text {
        color: $gray-dark;
        font-style: italic;
      }
    }
  }
}
