.input {
    @include space-inset-xs;
    @include space-stack-xs;

    border: 1px solid $gray-medium;
    width: 100%;

    &:focus {
        border-color: $form-focus;
    }

    &::-webkit-input-placeholder {
        color: $gray-dark;
    }

    &:-moz-placeholder {
        color: $gray-dark;
    }

    &::-moz-placeholder {
        color: $gray-dark;
    }

    &:-ms-input-placeholder {
        color: $gray-dark;
    }

    &:hover {
        border-color: darken($gray-medium, 10%);
    }

    &:focus {
        box-shadow: 0;
        outline: 1px solid $ui-link-primary;
    }

    &:disabled {
        background-color: $gray-xxlight;
        color: $gray-xdark;
    }

    &--error {
        border: 1px solid $ui-error;
    }
}

.input-group {
    display: flex;
    justify-content: space-between;

    > *:not(:last-child) {
        @include space-inline-m;
    }
}
