.input {
    @include space-inset-xs;
    @include space-stack-xs;

    border: 1px solid var(--gray-medium);
    width: 100%;

    &::-webkit-input-placeholder {
        color: var(--gray-dark);
    }

    &:-moz-placeholder {
        color: var(--gray-dark);
    }

    &:-ms-input-placeholder {
        color: var(--gray-dark);
    }

    &:hover {
        border-color: var(--gray-dark);
    }

    &:disabled {
        background-color: var(--gray-xxlight);
        color: var(--gray-xdark);
    }

    &:active,
    &:focus,
    &:active:hover,
    &:focus:hover {
        border: 1px solid var(--form-focus);
        box-shadow: 0;
        outline: 1px solid var(--form-focus);
    }

    &--error {
        border: 1px solid var(--ui-error);
    }
}

.input-group {
    display: flex;
    justify-content: space-between;

    > *:not(:last-child) {
        @include space-inline-m;
    }
}
