<ul class="sg-space">
  {% for item in items %}
    <li>
      <div class="sg-space__sample sg-space__sample--inline" style="padding-right: {{item.value}};">
        <div class="sg-space__sample-child sg-space__sample-child--inline"></div>
      </div>
      <div class="sg-info">
        <code>{{item.name}}</code>
        <p>{{item.value}}</p>
      </div>
    </li>
  {% endfor %}
</ul>
