<blockquote>
  <div class="citation-image">
    <img src="{{ img.image_1_1.src }}" alt="{{ img.image_1_1.alt }}" class="citation-image" />
  </div>
  <p>
    A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.
    <br />
    <cite class="attribution">Quote Source</cite>
  </p>
</blockquote>