<blockquote>
  <div class="citation-image">
    <img src="{{ img.image_1_1.src }}" alt="{{ img.image_1_1.alt }}" class="citation-image" />
  </div>
  <p>
    {{ paragraph }}
    <br />
    <cite class="attribution">{{ quote_source }}</cite>
  </p>
</blockquote>