// Only used for the `Placeholder` component, not to style
// an `input`'s placeholder.
.placeholder {
  --color-place-holder: var(--nypl-colors-ui-gray-dark);

  margin-bottom: 0;
  padding: var(--nypl-space-s);
  align-items: center;
  border: 4px dashed var(--color-place-holder);
  color: var(--color-place-holder);
  display: flex;
  font-size: var(--nypl-fontSizes-desktop-heading-heading3);
  justify-content: center;
  line-height: 1.4;
  padding: 4rem 1rem;
  width: 100%;

  &--short {
    padding: 1rem 1rem;
  }
}
