.rn-section-title {
    @include heading-xl;
    @include link;

    background-color: $nypl-turquoise-regular;
    color: $white;
    font-weight: 300;
    letter-spacing: -1px;
    text-decoration: none;

    &__emphasis {
        font-weight: 500;
    }
}
