// $space-xs: $space/2;    //  8px
// $space-s: $space*1;     // 16px
// $space-m: $space*1.5;   // 24px
// $space-l: $space*2;     // 32px
// $space-xl: $space*3;    // 48px

@mixin space-inset-none {
    padding: 0;
}

@mixin space-inset-xs {
    padding: $space-xs;
}

@mixin space-inset-s {
    padding: $space-s;
}

@mixin space-inset-m {
    padding: $space-m;
}

@mixin space-inset-l {
    padding: $space-l;
}

@mixin space-inset-xl {
    padding: $space-xl;
}
