@mixin button-base {
    @include space-inset-xs;

    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    &--icon {
        align-items: center;
        display: inline-flex;
    }

    &--icon-left {
        flex-flow: row-reverse nowrap;
    }

    &--icon-right {
        flex-flow: row nowrap;
    }

    &--justify-right {
        justify-content: space-between;
        width: 100%;
    }

    &__icon {
        @include icon;

        display: inline-flex;
        fill: currentColor;

        &--icon-left {
            margin-right: $space-xs;
        }

        &--icon-right {
            margin-left: $space-xs;
        }
    }
}

@mixin button--filled(
    $bg: $ui-link-primary,
    $color: $white,
    $hoverBg: $ui-link-secondary
) {
    @include button-base;

    background-color: $bg;
    border: none;
    color: $color;

    &:visited {
        color: $color;
    }

    &:hover {
        background-color: $hoverBg;
    }

    &:disabled {
        background-color: $gray-light;
        color: $gray-dark;
    }
}

@mixin button--outline {
    @include button-base;

    background-color: $white;
    border: 1px solid $gray-light;
    color: inherit;

    &:visited {
        color: inherit;
    }

    &:hover {
        background-color: $gray-xxlight;
    }
}

@mixin button--link {
    background-color: transparent;
    color: $ui-link-primary;
    text-decoration: underline;

    &--no-underline {
        text-decoration: none;
    }

    &:hover {
        background-color: transparent;
        color: $ui-link-secondary;
    }
}

@mixin button--pill {
    @include button-base;
    @include button--outline;

    border-radius: 20px;
}

.button {
    @include button--filled;

    &--link {
        @include button--link;
    }

    &--outline {
        @include button--outline;
    }

    &--pill {
        @include button--pill;
    }
}
