// Keeping `button-base` and `button--outline` for the
// Accordion component until that component is updated.
@mixin button-base {
  border-radius: 2px !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: var(--space-xs) var(--space-s) !important;
  text-decoration: none;
}

@mixin button--outline {
  @include button-base;

  background-color: var(--ui-white);
  border: 1px solid var(--ui-gray-light-cool);
  color: inherit;

  &:visited {
    color: inherit;
  }

  &:hover {
    background-color: var(--ui-gray-xx-light-cool);
  }

  &:disabled {
    background-color: var(--ui-gray-light-cool);
    color: var(--ui-gray-dark);
    pointer-events: none;
  }
}
