.text {
  &--caption {
    font-size: var(--font-size--1);
  }

  &--tag {
    font-size: var(--font-size--2);
    font-weight: 400;
  }

  &--mini {
    font-size: var(--font-size--3);
    font-weight: 400;
  }

  &--bold {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }

  &--nospace {
    .nypl-ds & {
      margin: 0 0 0;
    }
  }
}
