{% extends "@templates/00-layouts/00-site.twig" %}

{% block hero %}
  {% include "@organisms/heroes/001-article-hero.twig" %}
{% endblock %}

{% block breadcrumbs %}
  {% include "@organisms/breadcrumbs/001-breadcrumbs.twig" %}
{% endblock %}

{% block content %}
  <main>
    <button class="btn">Apply here for a 2020-2021 Cullman Center Fellowship</button>
    <p>The deadline to apply is Friday, September 27, at 5 p.m. EDT</p>

    <p>The Dorothy and Lewis B. Cullman Center for Scholars and Writers is an international fellowship program open to people whose work will benefit directly from access to the collections at the Stephen A. Schwarzman Building—including academics, independent scholars, and creative writers (novelists, playwrights, poets). Visual artists at work on a book project are also welcome to apply. The Center appoints 15 Fellows a year for a nine-month term at the Library, from September through May. In addition to working on their own projects, the Fellows engage in an ongoing exchange of ideas within the Center and in public forums throughout the Library.</p>

    {% include "@molecules/text/00-text/03-blockquote-with-citation.twig" %}

    {% include "@molecules/text/00-text/03-blockquote-with-citation.twig" %}

    <p>UGH</p>

    <a href="#">Recognizing and Supporting Excellence: The Dorothy & Lewis B. Cullman Center for Scholars and Writers at The New York Public Library (PDF brochure)</a>

    <h2>Current Fellows 2018-2019</h2>
  </main>

  <article class="quick-links">
    <h3>Quick Links</h3>
    <ul>
      {% for i in 0..7 %}
        <li>{% include "@atoms/buttons/AB-014-button-related-link.twig" %}</li>
      {% endfor %}
    </ul>
  </article>
{% endblock %}
