{% extends "@templates/00-layouts/00-site.twig" %}

{% block hero %}
  <p>heyyyy</p>
{% endblock %}

{% block breadcrumbs %}
  <p>hey / i'm / a breadcrumb</p>
{% endblock %}

{% block content %}
  {% extends "@organisms/heroes/001-article-hero.twig" %}
  <article class="article">
    <header class="article-header">
      <h1>Article Headline Lorem ipsum dolor sit aweofij</h1>
      {# {% include "@molecules/00-text/00-byline.twig" %} #}
    </header>
    {# {% include "@organisms/01-article/00-article-body.twig" %} #}
  </article>
{% endblock %}
