// Theme Colors
$color-books-and-more: $nypl-red-regular;
$color-research: $nypl-turquoise-regular;
$color-whats-on: $nypl-purple-regular;
$color-spotlight: $nypl-purple-regular;
$color-your-interests: $nypl-yellow-regular;
$color-locations: $nypl-blue-regular;
$color-support: $nypl-green-regular;
$color-help: $nypl-blue-dark;

// Utilities
$color-success: $nypl-turquoise-regular;
$color-warning: $nypl-yellow-dark;
$color-information: $nypl-blue-regular;

$ui-error: $nypl-red-dark;
$ui-link-primary: $nypl-blue-regular;
$ui-link-secondary: $nypl-blue-dark;

:root {
    // Theme Colors
    --color-books-and-more: var(--nypl-red-regular);
    --color-research: var(--nypl-turquoise-regular);
    --color-whats-on: var(--nypl-purple-regular);
    --color-spotlight: var(--nypl-purple-regular);
    --color-your-interests: var(--nypl-yellow-regular);
    --color-locations: var(--nypl-blue-regular);
    --color-support: var(--nypl-green-regular);
    --color-help: var(--nypl-blue-dark);

    // Utilities
    --color-success: var(--nypl-turquoise-regular);
    --color-warning: var(--nypl-yellow-dark);
    --color-information: var(--nypl-blue-regular);

    --ui-error: var(--nypl-red-dark);
    --ui-link-primary: var(--nypl-blue-regular);
    --ui-link-secondary: var(--nypl-blue-dark);
}
