:root {
    --white: white;
    --gray-xxlight: #fafafa;
    --gray-warm-xlight: #f8f8f7;
    --gray-xlight: #f5f5f5;
    --gray-warm-light: #efedeb;
    --gray-light: #e0e0e0;
    --gray-medium: #bdbdbd;
    --gray-dark: #616161;
    --gray-xdark: #424242;
    --black: black;

    --form-focus: #4181f1;

    // Brand Colors
    --nypl-red-light: #e9b9a7;
    --nypl-red-regular: #d0343a;
    --nypl-red-muted-regular: #bb1d12;
    --nypl-red-dark: #97272c;

    --nypl-yellow-light: #f9e08e;
    --nypl-yellow-regular: #ffb81d;
    --nypl-yellow-dark: #c99212;

    --nypl-green-light: #c5d5a5;
    --nypl-green-regular: #799a05;
    --nypl-green-dark: #497629;

    --nypl-turquoise-light: #b0e3e4;
    --nypl-turquoise-regular: #377f8b;
    --nypl-turquoise-dark: #02626a;

    --nypl-blue-light: #b1c9ea;
    --nypl-blue-regular: #0576d3;
    --nypl-blue-dark: #004b98;

    --nypl-purple-light: #daa9e3;
    --nypl-purple-regular: #8a1a9c;
    --nypl-purple-dark: #673165;
}
