/** Brand Colors */

// SASS Color Variables

/* Brand fills are the NYPL primary and secondary colors */
$brand-primary: #c60917;
$brand-secondary: #760000;

// What's On is used for Exhibitions & Events.
$whats-on-primary: #242424;
$whats-on-secondary: #000000;

// Books and More is used for the Catalog, Staff Picks, Recommendations, New Arrivals, and E-Book Central.
$books-and-more-primary: $brand-primary;
$books-and-more-secondary: $brand-secondary;

// Research is used for the Research Catalog and SCC.
$research-primary: #00838a;
$research-secondary: #006166;

// Locations is used for Location Finder and all branch pages with the exceptions of some research libraries.
$locations-primary: $brand-primary;
$locations-secondary: $brand-secondary;

// Research libraries with specific brand colors to adhere to.
$research-library-lpa: #005d53;
$research-library-schomburg: #a03e31;
$research-library-schwartzman: $brand-secondary;

//Mapping where we associate a name string with each SASS var
$colors_brand: (
  primary: $brand-primary,
  secondary: $brand-secondary,
);

$colors: (
  brand-primary: $brand-primary,
  brand-secondary: $brand-secondary,
  whats-on-primary: $whats-on-primary,
  whats-on-secondary: $whats-on-secondary,
  books-and-more-primary: $books-and-more-primary,
  books-and-more-secondary: $books-and-more-secondary,
  research-primary: $research-primary,
  research-secondary: $research-secondary,
  locations-primary: $locations-primary,
  locations-secondary: $locations-secondary,
  research-library-lpa: $research-library-lpa,
  research-library-schomburg: $research-library-schomburg,
  research-library-schwartzman: $research-library-schwartzman,
);

/* CSS Color Classes*/
@include color-classes($colors_brand);
@include color-classes($colors);

/* CSS Variables/Custom Properties */
:root {
  @include css-vars($colors_brand, "brand");
  @include css-vars($colors, "section");
}
