/** Brand Colors */

// SASS Color Variables

// What's On is used for Exhibitions & Events.
$whats-on-secondary: #7c1097;
$whats-on-primary: #8a1a9c;

// Books and More is used for the Catalog, Staff Picks, Recommendations, New Arrivals, and E-Book Central.
$books-and-more-primary: #d0343a;
$books-and-more-secondary: #bb1d12;

// Research is used for the Research Catalog and SCC.
$research-primary: #377f8b;
$research-secondary: #02626a;

// Locations is used for Location Finder and all branch pages with the exceptions of some research libraries.
$locations-primary: #d0343a;
$locations-secondary: #bb1d12;

// Research libraries with specific brand colors to adhere to.
$research-library-lpa: #008375;
$research-library-schomburg: #c54b38;
$research-library-schwartzman: #0071ce;

//Mapping where we associate a name string with each SASS var
$colors: (
  whats-on-primary: $whats-on-primary,
  whats-on-secondary: $whats-on-secondary,
  books-and-more-primary: $books-and-more-primary,
  books-and-more-secondary: $books-and-more-secondary,
  research-primary: $research-primary,
  research-secondary: $research-secondary,
  locations-primary: $locations-primary,
  locations-secondary: $locations-secondary,
  research-library-lpa: $research-library-lpa,
  research-library-schomburg: $research-library-schomburg,
  research-library-schwartzman: $research-library-schwartzman,
);

//generates a series of color classes that can be used anywhere
@mixin color-classes {
  @each $name, $color in $colors {
    .cl-#{$name} {
      color: $color;
    }
  }
}

//generates a collection of CSS vars
@mixin css-vars {
  @each $name, $color in $colors {
    --section-#{$name}: #{$color};
  }
}

/* CSS Color Classes*/
@include color-classes;

/* CSS Variables/Custom Properties */
:root {
  @include css-vars;
}
