$color-place-holder: $gray-light;

.placeholder {
  @include space-inset-s;

  align-items: center;
  border: 4px dashed $color-place-holder;
  color: $color-place-holder;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  line-height: 1.4;
  padding: 4rem 1rem;
  width: 100%;
}
