.status-badge {
  border-radius: var(--space-xxs);
  color: var(--ui-black);
  display: block;
  font-size: var(--font-size--1);
  font-style: italic;
  padding: var(--space-xxs) var(--space-xs);
  text-align: center;
  width: fit-content;
  width: -moz-fit-content;

  &--low {
    background-color: var(--ui-gray-light);
  }

  &--medium {
    background-color: #f9e08e;
  }

  &--high {
    background-color: #fbe7e1;
  }
}
