.status-badge {
    border-radius: 2px;
    color: var(--ui-black);
    display: block;
    font-style: italic;
    padding: var(--space-xs);
    text-align: center;

    &--inactive {
        background-color: var(--ui-gray-light);
    }

    &--warning {
        background-color: #f9e08e;
    }
}
