// $space-xxs: $space/4;   //  4px
// $space-xs: $space/2;    //  8px
// $space-s: $space*1;     // 16px
// $space-m: $space*1.5;   // 24px
// $space-l: $space*2;     // 32px
// $space-xl: $space*3;    // 48px
// $space-xxl: $space*4;   // 64px
// $space-xxxl: $space*6;  // 96px

@mixin space-stack-none {
  margin-bottom: 0;
}

@mixin space-stack-xxs {
  margin-bottom: $space-xxs;
}

@mixin space-stack-xs {
  margin-bottom: $space-xs;
}

@mixin space-stack-s {
  margin-bottom: $space-s;
}

@mixin space-stack-m {
  margin-bottom: $space-m;
}

@mixin space-stack-l {
  margin-bottom: $space-l;
}

@mixin space-stack-xl {
  margin-bottom: $space-xl;
}

@mixin space-stack-xxl {
  margin-bottom: $space-xxl;
}

@mixin space-stack-xxxl {
  margin-bottom: $space-xxxl;
}

@mixin space-stack-page {
  @include space-stack-l;

  @include breakpoint($large) {
    @include space-stack-xl;
  }

  &--full {
    @include space-stack-xxl;

    @include breakpoint($large) {
      @include space-stack-xxxl;
    }
  }
}

@mixin remove-stack-page {
  margin-top: calc(-1 * #{$space-l});

  @include breakpoint($large) {
    margin-top: calc(-1 * #{$space-xl});
  }

  &--full {
    margin-top: calc(-1 * #{$space-xxl});

    @include breakpoint($large) {
      margin-top: calc(-1 * #{$space-xxxl});
    }
  }
}
