<div class="centered">
  <h4>OSB-3: Booklist List Card with ICON</h4>
  <p>All list items should live within a <code>ol</code> or <code>ul</code> element.

  {% verbatim %}
<pre class="code-block"><code>
&lt;li class=&quot;list-item --booklist-card-with-icon&quot;&gt;
  &lt;span class=&quot;booklist-icon&quot;&gt;&lt;img src=&quot;/images/icons/computer.png&quot; /&gt;&lt;/span&gt;

  &lt;div class=&quot;item-content&quot;&gt;
    &lt;h3&gt;The Anna Atkins volumes Long Title That Wraps [electronic resource]&lt;/h3&gt;

    &lt;span class=&quot;tag&quot;&gt;1996&lt;/span&gt;

    &lt;span class=&quot;tag&quot;&gt;Computer File&lt;/span&gt;

    &lt;div class=&quot;author&quot;&gt;By Jason McAuthor&lt;/div&gt;

    &lt;p&gt;Available onsite at specific locations. &lt;a href=&quot;#&quot; class=&quot;btn-text&quot;&gt;View Detail&lt;span class=&quot;icon icon-arrow-right&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
  &lt;/div&gt;

  &lt;div class=&quot;item-content&quot;&gt;
    &lt;button href=&quot;#&quot; class=&quot;btn btn-outline fluid&quot;&gt;How to View&lt;/button&gt;

    &lt;button href=&quot;#&quot; class=&quot;btn btn-outline fluid&quot;&gt;All To My List&lt;/button&gt;
  &lt;/div&gt;
&lt;/li&gt;
</pre></code>
  {% endverbatim %}
</div>

<ul>
  <li class="list-item --booklist-card-with-icon">
    <span class="booklist-icon"><img src="/images/icons/computer.png" /></span>

    <div class="item-content">
      <h3>The Anna Atkins volumes Long Title That Wraps [electronic resource]</h3>

      <span class="tag">1996</span>

      <span class="tag">Computer File</span>

      <div class="author">By Jason McAuthor</div>

      <p>Available onsite at specific locations. <a href="#" class="btn-text">View Detail<span class="icon icon-arrow-right"></span></a></p>
    </div>

    <div class="item-content">
      <button href="#" class="btn btn-outline fluid">How to View</button>

      <button href="#" class="btn btn-outline fluid">All To My List</button>
    </div>
  </li>
</ul>