.booklist {
  margin-bottom: $space;
}

.booklist-item {
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
  display: flex;
  margin-bottom: $space;
  padding-right: $space;

  &.bordered {
    border: 1px solid $gray-light;
  }

  @media screen and (max-width: $bp-med) {
    border-bottom-left-radius: unset;
    border-top-right-radius: $border-radius;
    flex-wrap: wrap;
    height: unset;
    padding-right: 0;
  }

  .item-content {
    padding: $space-half $space;
    flex-grow: 2;

    &:last-of-type {
      padding: $space-half 0;
      // flex: 0 1 200px;
      flex-grow: 1;
    }

    @media screen and (max-width: $bp-med) {
      height: unset;
      padding: 0 $space;

      &:first-of-type {
        padding-top: $space;
      }

      &:last-of-type {
        padding-bottom: $space;
      }
    }
  }

  .author {
    width: 100%;
  }
}

.booklist-icon {
  align-self: stretch;
  background-color: $nypl-purple-light;
  background-image: url('../images/icons/book-purple.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $border-radius;
  border: 1px solid $nypl-purple-light;
  display: flex;
  // flex: 1 1 165px;
  flex-grow: 1;
  min-width: 125px;
  justify-content: center;
  margin-left: -1px;
  margin-top: -1px;
  padding: $space $space;

  img {
    min-width: 25px;
  }

  @media screen and (max-width: $bp-med) {
    padding: ($space-double + $space-half) ($space-double + $space-half);
  }
}