/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form {
  grid-column: 1 / 9;
  display: flex;
  margin-bottom: $space-and-half;
  overflow: auto;

  @media screen and (min-width: $bp-med) {
    grid-column: 1 / 10;
  }

  label {
    flex: 1 1 100%;
  }

  input {
    flex: 1 1 0;
  }

  button {
    flex: 0 1 0;
  }
}

input {
  border: 1px solid $gray-medium;
  background-color: $white;
  color: $black;
  min-height: 36px;
  padding: 0 $space-half;

  &::placeholder {
    color: $gray-dark;
  }
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none;
}

button, input[type="submit"] {
  padding: $space-half;
  background: $gray-dark;
  border: 1px solid $gray;
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

//Form Field Container
.field-container {
  margin-bottom: $space;
}

.inline-form {
  fieldset, .inline-container {
    position: relative;
  }
  
  input[type=submit], button, .btn {
    font-size: $font-size-small-2;
    padding: 0.65rem 1.3rem;
    background: $gray-dark;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: auto;

    &:hover, &:focus {
      background: $gray;
      color: $white;
    }
  }
}

/* Validation */
.has-error {
  border-color: $error;
}
.is-valid {
  border-color: $valid;
}




/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/* Search Form */
.search-field {
  padding-right: 3em;
}
.inline-form .search-submit {
  background: none;
  padding: 0.78em 1em;
  border: 0;
  border-left: 1px solid $gray;
  color: $gray;
}
