/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha {
  line-height: 1.2;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: $space-half;
}

h2, .beta    { 
  line-height: 1.2;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: $space-half;
}

h3, .gamma   { 
  line-height: 1.25;
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: $space-half;

  @media all and (min-width: $bp-med) {
    font-size: 1.5em;
  }

}

h4, .delta   {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: $space-half;
}

h5, .epsilon { 
  font-size: 0.9em;
}

h6, .zeta    { 
  font-size: 0.7em;
}

/* Subheadings */
.subheading {
  font-family: $font-secondary;
  font-weight: normal;
}
