body {
  background: $white;
  font: 100%/1.5 $font;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

.body { // Only meant for our pattern lab preview site to give things some room
  margin: 20px auto;
  max-width: 1280px;
  width: 80%;
  column-gap: 2%;
  row-gap: $space-double;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @media screen and (max-width: 320px) {
    column-gap: unset;
    width: 95%;
  }
}

.pl {
  // border: 1px solid tomato; // for testing purposes only
}

.pl-c-main {
  grid-column: 1 / 13;
}

.centered {
  grid-column: 3 / 12;

  @media screen and (max-width: 320px) {
    grid-column: 2 / 12;
  }
}

.full-width {
  grid-column: 1 / 13;
}

.code-block {
  background-color: $gray-xxlight;
  overflow: scroll;
  padding: 0 $space-and-half;
  width: 100%;
}