/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video, object {
  max-width: 100%;
  height: auto;
}

iframe {
  margin-bottom: $space;
}