/* Text-Related Elements */ 
p {
    margin-bottom: $space-and-half;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.44px;
}

.alpha {
  line-height: 1.2;
  font-size: 48px;
  font-weight: 400;
}

/* Blockquote */
blockquote {
  @extend .alpha;
  padding-left: $pad;
  margin-bottom: $space;
  text-indent: -0.5em;
}

/* Horizontal Rule */ 
hr {
  border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}

.tag {
  font-family: $font;
  font-size: var(--font-size-label);
  text-transform: uppercase;
  letter-spacing: 0.44px;

  & + .tag {
    margin-left: $space;
  }
}