/* Text-Related Elements */ 
p {
    margin-bottom: $space-and-half;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.44px;
}

.alpha {
  line-height: 1.2;
  font-size: 48px;
  font-weight: 400;
}

/* Blockquote */
blockquote {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  grid-column: span 12;
  margin-bottom: $space;

  @media all and (min-width: $bp-med) {
    grid-column: span 9;
  }

  .citation-image {
    border-radius: 50%;
    flex: 0 1 20%;
    display: block;
    width: 100%;
    height: 100%;
  }

  p {
    flex: 1 1 75%;
    margin-bottom: 0;
    margin-left: $space-and-half;
    position: relative;

    &::before {
      content: '';
      background-image: url('../images/quote.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 22px;
      display: block;
      position: absolute;
      margin-top: -10px;
      margin-left: -24px;
      margin-right: 15px;
      padding-right: 15px;
    }
  }

  .attribution {
    float: right;
    display: block;
  }


}

/* Horizontal Rule */ 
hr {
  border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}

.nypl-tag { // I'd like to add prefixes in a post process but this is breaking patternlab. Placeholder
  font-family: $font;
  font-size: $font-size-label;
  text-transform: uppercase;
  letter-spacing: 0.44px;

  & + .nypl-tag {
    margin-left: $space;
  }
}