/* Text-Related Elements */ 
p {
    margin-bottom: $space-and-half;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.44px;
}

.alpha {
  line-height: 1.2;
  font-size: 48px;
  font-weight: 400;
}

/* Blockquote */
blockquote {
  font-weight: 600;
  font-size: $font-size-large;
  padding-left: $space;
  margin-bottom: $space;
  text-indent: -0.5em;

  .attribution {
    display: block;
    padding-left: $space-half + $space-quarter;

    @extend .delta;
  }
}

/* Horizontal Rule */ 
hr {
  border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}

.nypl-tag { // I'd like to add prefixes in a post process but this is breaking patternlab. Placeholder
  font-family: $font;
  font-size: $font-size-label;
  text-transform: uppercase;
  letter-spacing: 0.44px;

  & + .nypl-tag {
    margin-left: $space;
  }
}