@mixin list--bullet {
  color: var(--ui-gray-medium);
  content: "\2022"; /* \2022 is the CSS Code/unicode for a bullet */
  display: inline-block; /* Needed to add space between the bullet and the text */
  font-weight: bold;
  margin-left: -1em;
  width: 1em;
}

.list {
  margin: unset; // browser automatically applies margin

  &__definition-list {
    border-bottom: 1px solid var(--ui-gray-light);

    h3 {
      border-top: 3px solid var(--section-research-primary);
      padding-top: var(--space-xs);
    }

    dl {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr;
      margin-bottom: 0;

      dt {
        border-top: 1px solid var(--ui-gray-light);
        font-size: var(--font-size-0);
        font-weight: bold;
        padding-bottom: 0;
        padding-right: var(--space-m);
        padding-top: var(--space-xs);

        @include breakpoint($breakpoint-medium) {
          padding-bottom: var(--space-s);
        }
      }

      dd {
        border-top: none;
        font-size: var(--font-size-0);
        margin: 0;
        padding-bottom: var(--space-s);
        padding-top: var(--space-xs);

        @include breakpoint($breakpoint-medium) {
          border-top: 1px solid var(--ui-gray-light);
        }
      }

      @include breakpoint($breakpoint-medium) {
        grid-template-columns: 25% 75%;
        margin-bottom: var(--space-s);
      }
    }
  }

  &--no-list-styling {
    @include list-reset;
  }
}

ul.list {
  list-style: none;

  li:before {
    @include list--bullet;
  }

  &--no-list-styling {
    li:before {
      content: unset; // Removes custom list bullet
    }
  }
}
