$main-width: 60%;
$sidebar-width: 25%;
$sidebar-width-s: calc(25% - calc(4 * #{$space-s}));

.main {
  @include wrapper;

  display: block; // Fix for IE weirdness

  &--with-sidebar {
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint($medium) {
      flex-flow: row wrap;
    }
  }
}

.content-header {
  @include breakout;
  @include space-stack-l;

  @include breakpoint($medium) {
    flex: 0 0 100vw;
  }
}

.content-primary {
  width: 100%;
}

.content-primary {
  &--with-sidebar-right,
  &--with-sidebar-left {
    @include breakpoint($medium) {
      @include space-inline-l;

      // Bugfix for Slick slider which calculates width via js.
      // It doesn't play well with flexbox
      // unless min-width is set to 0 on its wrapper.
      min-width: 0;
      flex: 1 1 $main-width;
    }
  }

  &--with-sidebar-left {
    order: 1;
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint($medium) {
      @include space-inline-none;
    }
  }
}

.content-secondary {
  @include space-stack-m;

  @include breakpoint( max-width 599px ) {
    display: flex;
  }

  @include breakpoint($medium) {
    @include space-stack-none;

    flex: 0 1 $sidebar-width;
    order: 1;

    &--with-sidebar--left {
      @include space-inline-l;

      flex-basis: $sidebar-width-s;
    }
  }
}
