$main-width: 60%;
$sidebar-width: 25%;
$sidebar-width-s: calc(25% - calc(4 * #{$space-s}));

.header,
.footer,
.content-header,
.content-primary,
.content-secondary,
.content-top {
  @include space-stack-page;
}

.main {
  @include wrapper;

  display: block; // Fix for IE weirdness

  &--with-sidebar {
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint($medium) {
      flex-flow: row wrap;
    }
  }
}

.content-header {
  @include breakout;

  @include breakpoint($medium) {
    flex: 0 0 100vw;
  }
}

.content-top {
  flex: 1 0 100%;
}

.content-primary {
  width: 100%;

  &--with-sidebar-right,
  &--with-sidebar-left {
    @include breakpoint($medium) {
      @include space-inline-l;

      // Bugfix for Slick slider which calculates width via js.
      // It doesn't play well with flexbox
      // unless min-width is set to 0 on its wrapper.
      min-width: 0;
      flex: 1 1 $main-width;
    }
  }

  &--with-sidebar-left {
    order: 1;
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint($medium) {
      @include space-inline-none;
    }
  }
}

.content-secondary {
  @include breakpoint($medium) {
    flex: 0 1 $sidebar-width;
    order: 1;

    &--with-sidebar-left {
      @include space-inline-l;

      flex-basis: $sidebar-width-s;
    }
  }
}
