{% embed "@templates/with-sidebar.twig" %}
  {% block page_content %}
    {# Showcase Hero #}
    {% include "@templates/_place-holder.twig" with {
      place_holder: "Showcase Hero",
    } %}
    {# Text with Image #}
    {% include "@templates/_place-holder.twig" with {
      place_holder: "Text with Image",
    } %}
    {# About Section #}
    {% include "@molecules/about-x/about-x.twig" with {
      about_x__image: true,
      about_x__image_src: 'https://placeimg.com/330/400/people',
      about_x__heading: 'About Lauren Ipsome',
      about_x__content: '<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>',
    } %}
    {# Location Details #}
    {% include "@templates/_place-holder.twig" with {
      place_holder: "Location Details",
    } %}
    {# Sponsors #}
    {% include "@templates/_place-holder.twig" with {
      place_holder: "Sponsors",
    } %}
    {# Related Events #}
    {% include "@organisms/event-section/_event-section.twig" with {
      event_section__heading: 'More from Kips Bay',
      event_section__heading__id: 'event-section-00',
      event_section__see_all__url: '#',
      event_section__more_link: '#',
      event_section__intro_text: '<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>',
      events: {
        "1": {
          event_card__heading: 'Lorem Ipsum Dolor Simete Long Title Lorem Ipsum Dolor Lorem Long Title',
          event_card__link: '#',
          event_card__date__start: '2019-08-17 12:00:00',
          event_card__date__end: '2119-12-09 12:00:00',
          event_card__library_name: 'Very Long Lorem Ipsum Long Library Name',
          event_card__tags: {
            "1": {
              tag_content: '#Kidslive',
              tag_url: '#'
            },
            "2": {
              tag_content: '#Kidslive',
              tag_url: '#'
            },
            "3": {
              tag_content: '#Kidslive',
              tag_url: '#'
            }
          }
        },
        "2": {
          event_card__heading: 'Lorem Ipsum Dolor Simete Long Title Lorem Ipsum Dolor Lorem Long Title',
          event_card__link: '#',
          event_card__date__start: '2019-08-17 12:00:00',
          event_card__date__end: '2119-12-09 12:00:00',
          event_card__library_name: 'Very Long Lorem Ipsum Long Library Name',
          event_card__tags: {
            "1": {
              tag_content: '#Kidslive',
              tag_url: '#'
            },
            "2": {
              tag_content: '#Kidslive',
              tag_url: '#'
            },
            "3": {
              tag_content: '#Kidslive',
              tag_url: '#'
            }
          }
        },
        "3": {
          event_card__heading: 'Lorem Ipsum Dolor Simete Long Title Lorem Ipsum Dolor Lorem Long Title',
          event_card__link: '#',
          event_card__date__start: '2019-08-17 12:00:00',
          event_card__date__end: '2119-12-09 12:00:00',
          event_card__library_name: 'Very Long Lorem Ipsum Long Library Name',
          event_card__tags: {
            "1": {
              tag_content: '#Kidslive',
              tag_url: '#'
            },
            "2": {
              tag_content: '#Kidslive',
              tag_url: '#'
            },
            "3": {
              tag_content: '#Kidslive',
              tag_url: '#'
            }
          }
        }
      }
    } %}
    {# Related Articles #}
    {% include "@templates/_place-holder.twig" with {
      place_holder: "Related Articles",
    } %}
  {% endblock %}

  {% block page_sidebar %}
    {% include "@templates/_place-holder.twig" with {
      place_holder: "Contextual Menu",
    } %}
  {% endblock %}
{% endembed %}
