.search-bar {
  @include form-item;

  display: flex;
  flex-flow: column nowrap;

  @include breakpoint($medium) {
    flex-flow: row nowrap;
  }

  &__dropdown {
    @include space-stack-xs;

    @include breakpoint($medium) {
      @include space-stack-none;
    }
  }

  &__input {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
  }

  &__textfield {
    flex: 1;
    min-height: 40px; // Accommodates the border for the search-bar without parameters
  }

  &__button {
    @include button--filled($black);
  }
}
