.search-bar {
  @include form-item;

  display: flex;
  flex-flow: column nowrap;

  @include breakpoint($medium) {
    flex-flow: row nowrap;
  }

  &__input-group {
    @include input;

    // Allows us to still have 'appearance: none' on select
    // needed for iOS native styles while still appearing white
    // in organisms that use this component
    background-color: $white;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
  }

  &__dropdown {
    @include space-stack-xs;

    flex: 0 1 25%;

    @include breakpoint($medium) {
      @include space-stack-none;
    }
  }

  &__input {
    @include input;

    flex: 1 1 80%;
    min-height: 40px; // Accommodates the border for the search-bar without parameters
  }

  &__input-description {
    @include input-description();

    flex: 1 1 100%;
  }

  &__button {
    @include button--filled($black);
  }
}
