{% set nav = {
  color9: {sassVariable: "$nypl-red", cssHex: "#d0343a" },
  color10: {sassVariable: "$nypl-red-light", cssHex: "#faeaeb" },
  color11: {sassVariable: "$nypl-red-dark", cssHex: "#952227" },

  color11: {sassVariable: "$nypl-yellow", cssHex: "#ffb81d" },
  color12: {sassVariable: "$nypl-yellow-light", cssHex: "#fff7e8" },
  color13: {sassVariable: "$nypl-yellow-dark", cssHex: "#b28014" },

  color14: {sassVariable: "$nypl-green", cssHex: "#799a05" },

  color15: {sassVariable: "$nypl-turquoise", cssHex: "#00a1b0" },

  color16: {sassVariable: "$nypl-blue", cssHex: "#0071ce" },
  color17: {sassVariable: "$nypl-blue-light", cssHex: "#e5f0fa" },
  color18: {sassVariable: "$nypl-blue-dark", cssHex: "#004782" },

  color19: {sassVariable: "$nypl-purple", cssHex: "#8a1a9c" },
  color20: {sassVariable: "$nypl-purple-light", cssHex: "#f3e8f5" },
  color21: {sassVariable: "$nypl-purple-dark", cssHex: "#500f5a" },
} %}

<ul class="sg-colors">
  {% for item in nav %}
    <li>
      <span class="sg-swatch" style="background: {{item.cssHex}};"></span>
      <span class="sg-label">{{ item.sassVariable }}, {{ item.cssHex }}</span>
    </li>
  {% endfor %}
</ul>
