{% set nav = {
  color1: { sassVariable: "$white", cssHex: "white" },
  color2: { sassVariable: "$gray-xxlight", cssHex: "#fafafa" },
  color3: {sassVariable: "$gray-xlight", cssHex: "#f5f5f5" },
  color4: {sassVariable: "$gray-light", cssHex: "#e0e0e0" },
  color5: {sassVariable: "$gray-medium", cssHex: "#bdbdbd" },
  color6: {sassVariable: "$gray-dark", cssHex: "#616161" },
  color7: {sassVariable: "$gray-xdark", cssHex: "#424242" },
  color8: {sassVariable: "$black", cssHex: "black;" },
} %}

<ul class="sg-colors">
  {% for item in nav %}
    <li>
      <span class="sg-swatch" style="background: {{item.cssHex}};"></span>
      <span class="sg-label">{{ item.sassVariable }}, {{ item.cssHex }}</span>
    </li>
  {% endfor %}
</ul>
