{% set nav = {
  color11: {sassVariable: "$nypl-red-dark", cssHex: "#952227" },

  color11: {sassVariable: "$nypl-yellow", cssHex: "#ffb81d" },

  color15: {sassVariable: "$nypl-turquoise", cssHex: "#00a1b0" },

  color16: {sassVariable: "$nypl-blue", cssHex: "#0071ce" },
} %}

<ul class="sg-colors">
  {% for item in nav %}
    <li>
      <span class="sg-swatch" style="background: {{item.cssHex}};"></span>
      <span class="sg-label">{{ item.sassVariable }}, {{ item.cssHex }}</span>
    </li>
  {% endfor %}
</ul>
