.hero {
  background-color: var(--ui-gray-warm-xlight);
}

.hero--50-50 {
  .hero__content {
    @include wrapper;

    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 var(--space) var(--space) var(--space);

    @include breakpoint($breakpoint-large) {
      flex-flow: row nowrap;
      padding: unset;
    }
  }

  .hero__image {
    margin-bottom: var(--space-s);

    @include breakpoint($breakpoint-large) {
      margin-bottom: unset;
      margin-right: var(--space-s);
      max-width: 50%;
    }
  }
}

.hero--primary {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 350px;

  @include breakpoint($breakpoint-medium) {
    flex-flow: row nowrap;
  }

  .hero__content {
    background-color: var(--ui-black);
    color: var(--ui-white);
    flex: 0 0 100%;
    padding: var(--space-xxl) var(--space-l);

    a {
      color: inherit;
      display: inline-block;
    }

    @include breakpoint($breakpoint-medium) {
      flex: 0 0 60%;
      max-width: 960px;
    }

    + .placeholder {
      flex: 0 1 200px;
      margin-left: var(--space-xl);
    }
  }

  .hero__heading,
  .hero__body-text {
    @include space-stack-none;
  }
}

.hero--secondary {
  overflow-x: hidden;

  .hero__content {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;

    @include breakpoint($breakpoint-medium) {
      flex-flow: row wrap;
    }

    .hero__heading {
      @include space-stack-none;

      background-color: var(--ui-black);
      color: var(--ui-white);
      flex: 1 1 100%;
      margin-top: 0;
      padding-bottom: var(--space-xxs);
      position: relative;
      z-index: 0;

      &::before {
        background-color: var(--ui-black);
        content: "";
        height: 100%;
        left: -2000px;
        position: absolute;
        width: 4000px;
        z-index: -1;
      }

      @include breakpoint($breakpoint-medium) {
        order: 1;
      }

      .nypl--books-and-more & {
        background-color: var(--section-books-and-more-primary);

        &::before {
          background-color: var(--section-books-and-more-primary);
        }
      }

      .nypl--locations & {
        background-color: var(--section-locations-primary);

        &::before {
          background-color: var(--section-locations-primary);
        }
      }

      .nypl--research & {
        background-color: var(--section-research-primary);

        &::before {
          background-color: var(--section-research-primary);
        }
      }

      .nypl--whats-on & {
        background-color: var(--section-whats-on-primary);

        &::before {
          background-color: var(--section-whats-on-primary);
        }
      }
    }

    .hero__body-text {
      margin-top: var(--space-xs);

      @include breakpoint($breakpoint-medium) {
        @include space-inline-xs;

        flex: 1 1 50%;
        order: 2;
      }
    }

    .hero__image {
      flex: 1 1 100%;
      height: 150px;
      min-width: 0; // https://github.com/philipwalton/flexbugs/issues/41
      object-fit: cover;
      width: 100%;

      @include breakpoint($breakpoint-medium) {
        flex: 0 0 250px;
        order: 3;
      }
    }
  }
}

.hero--tertiary {
  background-color: var(--ui-gray-xdark);

  .hero__content {
    @include wrapper;

    color: var(--ui-white);
    display: flex;
    flex-flow: column nowrap;
    padding: var(--space-l) var(--space);

    /* stylelint-disable */
    .hero__heading {
      @include space-stack-s;

      &:last-child {
        @include space-stack-none;
      }
    }
    /* stylelint-enable */
    p {
      @include space-stack-none;
    }
  }
}
