.form-item {
  @include space-stack-s;

  color: $gray-medium;
  max-width: 32em;

  @include clearfix;
}

.form-item__label {
  display: block;
  font-weight: 600;

  @include breakpoint($small) {
    @include space-inline-xs;

    display: block;
    padding: 0.6em 0;
  }
}

.form-item__textfield {
  @include space-inset-xs;

  border: 1px solid $gray-xxlight;
  max-width: 100%;

  &:focus {
    border-color: $black;
  }

  &::-webkit-input-placeholder {
    color: $gray-light;
  }

  &:-moz-placeholder {
    color: $gray-light;
  }

  &::-moz-placeholder {
    color: $gray-light;
  }

  &:-ms-input-placeholder {
    color: $gray-light;
  }
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  @include space-inset-none;
  @include space-stack-l;

  border: none;

  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }
}
