.right-rail {
  @include space-stack-s;

  &__heading {
    @include heading-medium;

    color: $nypl-purple-regular;
  }

  &__list {
    @include list-reset;
  }

  &__link {
    color: $black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:not(&--sub):not(&--simple) {
      font-weight: 500;
    }
  }
}
