.skeleton-loader:empty {
  animation: shine 1s infinite;
  background-image: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    linear-gradient(var(--ui-gray-warm-light) 33px, transparent 0),
    linear-gradient(var(--ui-gray-warm-light) 20px, transparent 0),
    linear-gradient(var(--ui-gray-warm-light) 20px, transparent 0),
    linear-gradient(var(--ui-gray-warm-light) 20px, transparent 0),
    linear-gradient(var(--ui-gray-warm-light) 20px, transparent 0),
    linear-gradient(var(--ui-gray-warm-light) 20px, transparent 0),
    linear-gradient(var(--ui-gray-warm-light) 20px, transparent 0);
  background-position: 0 0, /* highlight */ 0px 0, 0px 40px, 0px 67px, 0px 94px,
    0px 121px, 0px 148px, 0px 175px;
  background-repeat: repeat-y;
  background-size: 50px 230px, /* highlight */ 300px 230px, 250px 230px,
    250px 230px, 250px 230px, 200px 230px, 200px 230px, 200px 230px;
  height: 485px; /* change height to see repeat-y behavior */
  margin: auto;
  width: 100%;
}

@keyframes shine {
  to {
    background-position: 100% 0, /* move highlight to right */ 0px 0, 0px 40px,
      0px 67px, 0px 94px, 0px 121px, 0px 148px, 0px 175px;
  }
}
