{# These are examples used by Pattern Lab Only #}

{% if pl_example %}
  {% include "@templates/_place-holder.twig" with {
    place_holder: 'Events go here',
  } %}
{% else %}
  {% for event in events %}
    <li {{ bem('event', [], event_section__base_class) }}>
      {% include "@molecules/event-card/_event-card.twig" with {
        event_card__with_image: event.event_card__with_image,
        event_card__image: event.event_card__image,
        event_card__heading: event.event_card__heading,
        event_card__date__start: event.event_card__date__start,
        event_card__date__end: event.event_card__date__end,
        event_card__library_name: event.event_card__library_name,
        event_card__tags: event.event_card__tags,
        event_card__link: event.event_card__link,
      } %}
    </li>
  {% endfor %}
{% endif %}
