{% set layout__modifiers = [] %}
{% set main__modifiers = [] %}
{% set content_primary__modifiers = [] %}

{% if sidebar %}
  {% set main__modifiers = main__modifiers|merge(['with-sidebar']) %}
  {% set content_primary__modifiers = content_primary__modifiers|merge(['with-sidebar']) %}
{% endif %}

<div {{ bem('layout-container', layout__modifiers) }}>
  {% block page_header %}
  {% endblock %}

  {% block page_hero %}
  {% endblock %}

  {% block page_system %}
  {% endblock %}

  <main role="main" {{ bem('main', main__modifiers) }}>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div {{ bem('content-primary', content_primary__modifiers) }}>
      {% block page_content %}{% endblock %}
    </div>

    {% if sidebar %}
      <aside {{ bem('content-secondary') }} role="complementary">
        {% block page_sidebar %}{% endblock %}
      </aside>
    {% endif %}
  </main>

  {% block page_footer %}
  {% endblock %}
</div>
