//Type scale information to keep our font-sizes consistent across the system
$font-sizes: (
    -2: 0.75rem,
    // 12px
        -1: 0.875rem,
    // 14px
        0: 1rem,
    // 16px
        1: 1.25rem,
    // 20px
        2: 1.375rem,
    // 22px
        3: 1.75rem,
    // 28px
        4: 2.25rem,
    // 36px
        5: 3rem,
    // 48px
);

@mixin type-scale($size) {
    font-size: map-get($font-sizes, $size);
}

// Styles for Pattern Lab only
.sg-type {
    .ts-2 {
        @include type-scale(-2);
    }

    .ts-1 {
        @include type-scale(-1);
    }

    .ts0 {
        @include type-scale(0);
    }

    .ts1 {
        @include type-scale(1);
    }

    .ts2 {
        @include type-scale(2);
    }

    .ts3 {
        @include type-scale(3);
    }

    .ts4 {
        @include type-scale(4);
    }

    .ts5 {
        @include type-scale(5);
    }

    &__sample {
        margin-bottom: 2rem;
    }

    &__sg-info {
        @include type-scale(0);
    }
}
