{% set right_rail__item__modifiers = right_rail__simple == true ? ['simple'] %}

{% set right_rail__base_class = 'right-rail' %}
{% set aria_label = right_rail__base_class ~ '--' ~ right_rail__heading|lower|replace({' ': '-'}) %}

{% set menu__attributes = {
  class: bem(right_rail__base_class),
  'aria-labelledby': aria_label,
} %}

<nav {{ add_attributes(menu__attributes) }}>
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: '2',
    heading_blockname: right_rail__base_class,
    heading: right_rail__heading,
    heading_attributes: {
      'id': aria_label,
    }
  } %}

  {% include "@molecules/menus/_menu.twig" with {
    menu__class: right_rail__base_class,
    item__modifiers: right_rail__item__modifiers,
  } %}
</nav>
