body {
	background: $white;
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	font-weight: 200;
	box-sizing: border-box;
}

.pl-c-main { // Only meant for our pattern lab preview site to give things some room
	width: 80%;
	margin: auto;
}