// CSS-only select styling (from https://github.com/filamentgroup/select-css)

@mixin form-item {
  // Wrapper for the <select> and its icon
  &__dropdown {
    align-items: center;
    border-radius: 2px;
    border: 1px solid $gray-light;

    // Allows us to place the icon and let users get to the select underneath
    position: relative;
    z-index: 1;

    &:hover {
      border-color: $black;
    }

    @supports ( -webkit-appearance: none ) or ( appearance: none ) or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {
      &::after {
        // Display custom arrow
        display: block;
      }
    }

    .icon {
      @include icon;

      position: absolute;
      right: $space-xs;
      top: 32%;
      z-index: -1;
    }
  }

  &__select {
    border: 1px solid $gray-light;
    font-size: 16px;
    margin: 0;
    outline: none;
    padding: 0.6em 0.8em 0.5em;
    width: 100%;

    :focus {
      outline: none;
      color: #222;
    }

    @supports ( -webkit-appearance: none ) or ( appearance: none ) or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {
      padding-right: 2em; /* Match-01 */

      /* inside @supports so that iOS <= 8 display the native arrow */
      background: none; /* Match-04 */

      /* inside @supports so that Android <= 4.3 display the native arrow */
      border: 1px solid transparent; /* Match-05 */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus {
        border-color: $gray-medium;
        border-radius: 0;
      }
    }
  }

  &__textfield {
    border-left: 1px solid $gray-medium;
    border-top: 1px solid $gray-medium;
    border-bottom: 1px solid $gray-medium;
    border-right: none;
    padding: $space-xs $space-s;

    &:focus {
      outline: 2px solid $form-focus;
    }
  }
}

.form-item {
  @include form-item;
}
