@mixin icon {
    height: 24px;
    width: 24px;
    fill: currentColor;

    &--up,
    &--rotate-180 {
        transform: rotate(180deg);
    }

    &--right,
    &--rotate-270 {
        transform: rotate(270deg);
        margin-left: $space-xxs;
    }

    &--down,
    &--rotate-0 {
        transform: rotate(0deg);
    }

    &--left,
    &--rotate-90 {
        @include space-inline-xxs;
        transform: rotate(90deg);
    }

    &--xlarge {
        height: 68px;
        width: 68px;
    }

    &--large {
        height: 36px;
        width: 36px;
    }

    &--medium {
        height: 24px;
        width: 24px;
    }

    &--small {
        height: 18px;
        width: 18px;
    }
}

.icon {
    @include icon;
}

// These styles are strictly for Pattern Lab use.
// They will have no effect on the live site.
.pl {
    #icons {
        & > div {
            display: flex;
            flex-wrap: wrap;
        }

        & > div > div {
            @include space-inset-s;
            @include space-inline-s;
            @include space-stack-s;

            border: 1px solid #eee;
            text-align: center;
        }

        .icons-all {
            .icon {
                height: 4rem;
                width: 4rem;
            }
        }
    }
}
