.label {
  @include space-stack-xs;

  align-items: baseline;
  display: flex;
  font-weight: 500;
  justify-content: space-between;

  &__required-helper {
    font-size: var(--font-size--1);
    font-weight: 300;
  }
}

.fieldset {
  @include fieldset-reset;
}

.legend {
  border: 0;
  font-weight: 500;
}
