.catalog-list {
  margin-bottom: $space;
}

.catalog-item {
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
  display: flex;
  margin-bottom: $space;
  padding-right: $space;

  @media screen and (max-width: $bp-large) {
    border-bottom-left-radius: unset;
    border-top-right-radius: $border-radius;
    flex-direction: column;
    height: unset;
    padding-right: 0;
  }

  &.bordered {
    border: 1px solid $gray-light;
  }
}

// Wrapper for the text and buttons within a catalog item
.item-content {
  padding: $space-half $space-and-half;
  flex: 2 1 auto;

  &:last-of-type {
    padding: $space-half 0;
    flex: 0 0 200px;
  }

  @media screen and (max-width: $bp-large) {
    flex: 1 1 100%;
    height: unset;
    padding: 0 $space;

    &:first-of-type {
      padding-top: $space;
    }

    &:last-of-type {
      padding: $space $space;
      flex: 1 1 100%;
    }
  }
}

.catalog-icon {
  align-self: stretch;
  background-color: $nypl-purple-light;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $border-radius;
  border: 1px solid $nypl-purple-light;
  display: flex;
  flex: 0 0 200px;
  justify-content: center;
  margin-bottom: -1px; // negative margin values are to visually hide the border underneath the icon area
  margin-left: -1px;
  margin-top: -1px;
  padding: $space $space;

  &.book {
    background-image: url('../images/icons/book-purple.svg');
  }

  &.cd, &.audiobook {
    background-image: url('../images/icons/cd-purple.svg');
  }

  &.movie {
    background-image: url('../images/icons/movie-purple.svg');
  }

  img {
    min-width: 25px;
  }

  @media screen and (max-width: $bp-large) {
    height: 200px;
    flex-grow: 1;
    margin-right: -1px;
  }
}