{% set icons = {
      '20' : 'social-twitter medium',
      '22' : 'social-media-icon-set large'
    } %}

{% set icon = 'social-tumblr' %}

<span class="icon icon-{{ icon }} medium"></span>
<span class="icon icon-{{ icon }} blue medium"></span>
<span class="icon icon-{{ icon }} white medium"></span>
<span class="icon icon-{{ icon }} purple medium"></span>