{% set icon = 'social-media-icon-set' %}

<span class="icon icon-{{ icon }} xlarge"></span>
<span class="icon icon-{{ icon }} blue xlarge"></span>
<span class="icon icon-{{ icon }} white xlarge"></span>
<span class="icon icon-{{ icon }} purple xlarge"></span>