{% set icons = {
  '4' : 'arrow-right',
  '5' : 'arrow-left',
  '6' : 'search',
  '7' : 'search-small',
  '8' : 'plus',
  '9' : 'minus',
  '10' : 'cancel',
} %}

{% set icon = 'arrow-down-small' %}

<span class="icon icon-{{ icon }}"></span>
<span class="icon icon-{{ icon }} blue"></span>
<span class="icon icon-{{ icon }} white"></span>