{% set icon = 'social-media-icon-set' %}

<span class="icon icon-{{ icon }} large"></span>
<span class="icon icon-{{ icon }} blue large"></span>
<span class="icon icon-{{ icon }} white large"></span>
<span class="icon icon-{{ icon }} purple large"></span>