{% set icon = 'social-instagram' %}

<span class="icon icon-{{ icon }} medium"></span>
<span class="icon icon-{{ icon }} blue medium"></span>
<span class="icon icon-{{ icon }} white medium"></span>
<span class="icon icon-{{ icon }} purple medium"></span>