<div class="centered">
  <ul class="icons">
    <li>
      <h3>AIL-1: Lion Logo</h3>
      <img src="/images/logo.svg" aria-labelledby="#nypl-logo" />
    </li>

    <li class="pl-icon-bg">
      <h3>AIL-21: NYPL Logo</h3>
      <img src="/images/nypl-acronym-lockup.svg" aria-labelledby="#nypl-acronym-lockup" />
    </li>
  </ul>
</div>