/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

header, footer, nav, section, article, hgroup, figure {
  display: block;
}

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha {
  line-height: 1.2;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 0.625em;
}

h2, .beta {
  line-height: 1.2;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.625em;
}

h3, .gamma {
  line-height: 1.25;
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 0.625em;
}
@media all and (min-width: 600px) {
  h3, .gamma {
    font-size: 1.5em;
  }
}

h4, .delta {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0.625em;
}

h5, .epsilon {
  font-size: 0.9em;
}

h6, .zeta {
  font-size: 0.7em;
}

/* Subheadings */
.subheading {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

/* Links */
a {
  color: #0071ce;
}
a:hover, a:focus {
  color: #004782;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 1.25em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
main {
  grid-column: 1/13;
  margin-top: 1.25em;
}
@media screen and (min-width: 600px) {
  main {
    grid-column: 1/10;
  }
}

/* Clearfix */
.cf {
  *zoom: 1;
}

.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Floats */
.right {
  float: right;
  padding: 0 0 1.25em 1.25em;
}

.right-search {
  float: right;
  padding: 0 0 1.25em 0;
}

.left {
  float: left;
  padding: 0 1.25em 1.25em 0;
}

/* Text-Align */
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/* Display Classes */
@media all and (max-width: 600px) {
  .hide-small {
    display: none;
  }
}

@media all and (min-width: 600px) and (max-width: 50em) {
  .hide-med {
    display: none;
  }
}

@media all and (min-width: 50em) {
  .hide-large {
    display: none;
  }
}

.font-secondary {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.mg-top-large {
  margin-top: 1.875em;
}

/* Text-Related Elements */
p {
  margin-bottom: 1.875em;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.44px;
}

.alpha {
  line-height: 1.2;
  font-size: 48px;
  font-weight: 400;
}

/* Blockquote */
blockquote {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  grid-column: span 12;
  margin-bottom: 1.25em;
}
@media all and (min-width: 600px) {
  blockquote {
    grid-column: span 9;
  }
}
blockquote .citation-image {
  border-radius: 50%;
  flex: 0 1 20%;
  display: block;
  width: 100%;
  height: 100%;
}
blockquote p {
  flex: 1 1 75%;
  margin-bottom: 0;
  margin-left: 1.875em;
  position: relative;
}
blockquote p::before {
  content: "";
  background-image: url("../images/quote.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 22px;
  display: block;
  position: absolute;
  margin-top: -10px;
  margin-left: -24px;
  margin-right: 15px;
  padding-right: 15px;
}
blockquote .attribution {
  float: right;
  display: block;
}

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  background: #f5f5f5;
  margin: 2.5em 0;
}

abbr {
  border-bottom: 1px dotted #bdbdbd;
  cursor: help;
}

.nypl-tag {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.44px;
}
.nypl-tag + .nypl-tag {
  margin-left: 1.25em;
}

.icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
.icon.small {
  height: 18px;
  width: 18px;
}
.icon.medium {
  height: 24px;
  width: 24px;
}
.icon.large {
  height: 48px;
  width: 48px;
}
.icon.xlarge {
  height: 68px;
  width: 68px;
}

.icon-arrow-down {
  background-image: url("../images/icons/arrow.svg");
}
.icon-arrow-down.blue {
  background-image: url("../images/icons/arrow-blue.svg");
}
.icon-arrow-down.purple {
  background-image: url("../images/icons/arrow-purple.svg");
}
.icon-arrow-down.white {
  background-image: url("../images/icons/arrow-white.svg");
}

.icon-arrow-down-small {
  background-image: url("../images/icons/arrow-small.svg");
}
.icon-arrow-down-small.blue {
  background-image: url("../images/icons/arrow-small-blue.svg");
}
.icon-arrow-down-small.purple {
  background-image: url("../images/icons/arrow-small-purple.svg");
}
.icon-arrow-down-small.white {
  background-image: url("../images/icons/arrow-small-white.svg");
}

.icon-arrow-up {
  background-image: url("../images/icons/arrow.svg");
}
.icon-arrow-up.blue {
  background-image: url("../images/icons/arrow-blue.svg");
}
.icon-arrow-up.purple {
  background-image: url("../images/icons/arrow-purple.svg");
}
.icon-arrow-up.white {
  background-image: url("../images/icons/arrow-white.svg");
}

.icon-arrow-right {
  background-image: url("../images/icons/arrow.svg");
}
.icon-arrow-right.blue {
  background-image: url("../images/icons/arrow-blue.svg");
}
.icon-arrow-right.purple {
  background-image: url("../images/icons/arrow-purple.svg");
}
.icon-arrow-right.white {
  background-image: url("../images/icons/arrow-white.svg");
}

.icon-arrow-left {
  background-image: url("../images/icons/arrow.svg");
}
.icon-arrow-left.blue {
  background-image: url("../images/icons/arrow-blue.svg");
}
.icon-arrow-left.purple {
  background-image: url("../images/icons/arrow-purple.svg");
}
.icon-arrow-left.white {
  background-image: url("../images/icons/arrow-white.svg");
}

.icon-check {
  background-image: url("../images/icons/check.svg");
}
.icon-check.blue {
  background-image: url("../images/icons/check-blue.svg");
}
.icon-check.purple {
  background-image: url("../images/icons/check-purple.svg");
}
.icon-check.white {
  background-image: url("../images/icons/check-white.svg");
}

.icon-search {
  background-image: url("../images/icons/search.svg");
}
.icon-search.blue {
  background-image: url("../images/icons/search-blue.svg");
}
.icon-search.purple {
  background-image: url("../images/icons/search-purple.svg");
}
.icon-search.white {
  background-image: url("../images/icons/search-white.svg");
}

.icon-search-small {
  background-image: url("../images/icons/search-small.svg");
}
.icon-search-small.blue {
  background-image: url("../images/icons/search-small-blue.svg");
}
.icon-search-small.purple {
  background-image: url("../images/icons/search-small-purple.svg");
}
.icon-search-small.white {
  background-image: url("../images/icons/search-small-white.svg");
}

.icon-plus {
  background-image: url("../images/icons/plus.svg");
}
.icon-plus.blue {
  background-image: url("../images/icons/plus-blue.svg");
}
.icon-plus.purple {
  background-image: url("../images/icons/plus-purple.svg");
}
.icon-plus.white {
  background-image: url("../images/icons/plus-white.svg");
}

.icon-minus {
  background-image: url("../images/icons/minus.svg");
}
.icon-minus.blue {
  background-image: url("../images/icons/minus-blue.svg");
}
.icon-minus.purple {
  background-image: url("../images/icons/minus-purple.svg");
}
.icon-minus.white {
  background-image: url("../images/icons/minus-white.svg");
}

.icon-cancel {
  background-image: url("../images/icons/cancel.svg");
}
.icon-cancel.blue {
  background-image: url("../images/icons/cancel-blue.svg");
}
.icon-cancel.purple {
  background-image: url("../images/icons/cancel-purple.svg");
}
.icon-cancel.white {
  background-image: url("../images/icons/cancel-white.svg");
}

.icon-book {
  background-image: url("../images/icons/book.svg");
}
.icon-book.blue {
  background-image: url("../images/icons/book-blue.svg");
}
.icon-book.purple {
  background-image: url("../images/icons/book-purple.svg");
}
.icon-book.white {
  background-image: url("../images/icons/book-white.svg");
}

.icon-computer {
  background-image: url("../images/icons/computer.svg");
}
.icon-computer.blue {
  background-image: url("../images/icons/computer-blue.svg");
}
.icon-computer.purple {
  background-image: url("../images/icons/computer-purple.svg");
}
.icon-computer.white {
  background-image: url("../images/icons/computer-white.svg");
}

.icon-play {
  background-image: url("../images/icons/play.svg");
}
.icon-play.blue {
  background-image: url("../images/icons/play-blue.svg");
}
.icon-play.purple {
  background-image: url("../images/icons/play-purple.svg");
}
.icon-play.white {
  background-image: url("../images/icons/play-white.svg");
}

.icon-cd {
  background-image: url("../images/icons/cd.svg");
}
.icon-cd.blue {
  background-image: url("../images/icons/cd-blue.svg");
}
.icon-cd.purple {
  background-image: url("../images/icons/cd-purple.svg");
}
.icon-cd.white {
  background-image: url("../images/icons/cd-white.svg");
}

.icon-movie {
  background-image: url("../images/icons/movie.svg");
}
.icon-movie.blue {
  background-image: url("../images/icons/movie-blue.svg");
}
.icon-movie.purple {
  background-image: url("../images/icons/movie-purple.svg");
}
.icon-movie.white {
  background-image: url("../images/icons/movie-white.svg");
}

.icon-social-instagram {
  background-image: url("../images/icons/social-instagram.svg");
}
.icon-social-instagram.blue {
  background-image: url("../images/icons/social-instagram-blue.svg");
}
.icon-social-instagram.purple {
  background-image: url("../images/icons/social-instagram-purple.svg");
}
.icon-social-instagram.white {
  background-image: url("../images/icons/social-instagram-white.svg");
}

.icon-social-facebook {
  background-image: url("../images/icons/social-facebook.svg");
}
.icon-social-facebook.blue {
  background-image: url("../images/icons/social-facebook-blue.svg");
}
.icon-social-facebook.purple {
  background-image: url("../images/icons/social-facebook-purple.svg");
}
.icon-social-facebook.white {
  background-image: url("../images/icons/social-facebook-white.svg");
}

.icon-social-tumblr {
  background-image: url("../images/icons/social-tumblr.svg");
}
.icon-social-tumblr.blue {
  background-image: url("../images/icons/social-tumblr-blue.svg");
}
.icon-social-tumblr.purple {
  background-image: url("../images/icons/social-tumblr-purple.svg");
}
.icon-social-tumblr.white {
  background-image: url("../images/icons/social-tumblr-white.svg");
}

.icon-social-youtube {
  background-image: url("../images/icons/social-youtube.svg");
}
.icon-social-youtube.blue {
  background-image: url("../images/icons/social-youtube-blue.svg");
}
.icon-social-youtube.purple {
  background-image: url("../images/icons/social-youtube-purple.svg");
}
.icon-social-youtube.white {
  background-image: url("../images/icons/social-youtube-white.svg");
}

.icon-social-twitter {
  background-image: url("../images/icons/social-twitter.svg");
}
.icon-social-twitter.blue {
  background-image: url("../images/icons/social-twitter-blue.svg");
}
.icon-social-twitter.purple {
  background-image: url("../images/icons/social-twitter-purple.svg");
}
.icon-social-twitter.white {
  background-image: url("../images/icons/social-twitter-white.svg");
}

.icon-arrow-up {
  transform: rotate(0.5turn);
}

.icon-arrow-right {
  transform: rotate(0.75turn);
}

.icon-arrow-left {
  transform: rotate(0.25turn);
}

.img-fluid {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.full-bleed {
  height: 10vh;
  max-width: 100%;
  width: 100%;
}

.circle-mask {
  background-color: #fff7e8;
  border-radius: 50%;
  height: 68px;
  width: 68px;
}

.img-12-9 {
  width: 100%;
  height: 75%;
  background-color: #0071ce;
}

.btn {
  align-items: center;
  background: #0071ce;
  border-radius: 2px;
  border: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  justify-content: center;
  letter-spacing: 1.5px;
  line-height: 1;
  max-width: 600px;
  padding: 0.625em 1.25em;
  text-align: center;
}
.btn:hover {
  background: #004782;
}
.btn:focus {
  outline: 2px solid #004782;
}
.btn.fluid {
  width: 100%;
}
.btn.disabled {
  background: #e0e0e0;
  color: #bdbdbd;
}
.btn .icon {
  margin-right: 10px;
}

.btn-large {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 0;
  text-transform: capitalize;
  padding: 1.625em 2.5em;
}

.btn-text {
  background-color: transparent;
  color: #0071ce;
  display: inline-block;
  position: relative;
  padding: 0.625em 0.625em 0.625em 0;
  border-radius: 2px;
}
.btn-text .icon-arrow-right {
  margin-left: 5px;
  margin-top: -2px;
  vertical-align: middle;
  width: 12px;
}
.btn-text:hover {
  background: #e5f0fa;
  color: #0071ce;
}

.btn-cancel {
  padding: 0.625em 0.625em;
  background-color: #faeaeb;
  color: #952227;
}
.btn-cancel:hover {
  background: #952227;
  color: white;
}

.btn-outline {
  background-color: white;
  border: 1px solid #e0e0e0;
  color: black;
  justify-content: center;
}
.btn-outline:hover {
  background: #fafafa;
}

.btn-tag {
  background-color: #fff7e8;
  color: black;
  border-radius: 30px;
  padding: 0 1.25em;
  height: 32px;
  font-size: 0.925em;
}
.btn-tag:hover {
  background: #ffb81d;
}

.btn-round {
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #e5f0fa;
  color: #0071ce;
  height: 40px;
  line-height: 1;
  text-align: center;
  padding: 0.625em 1.875em;
}
.btn-round:hover {
  background: #e5f0fa;
  color: #004782;
}

.btn-round-icon {
  border-radius: 50%;
  height: 40px;
  padding: unset;
  width: 40px;
}
.btn-round-icon .icon {
  height: 24px;
  margin-right: unset;
  width: 24px;
  margin: auto;
}

.btn-related-link {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  padding: 0.625em 1.25em;
  text-align: left;
  width: 100%;
}
.btn-related-link:hover {
  background: #fafafa;
}

.btn + .btn {
  margin-top: 8px;
}

.placeholder {
  background-color: black;
  margin-right: 5px;
}

.btn-group {
  display: flex;
  align-content: center;
}
.btn-group .btn {
  margin-top: unset;
  margin-right: 0.625em;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form {
  grid-column: 1/9;
  display: flex;
  margin-bottom: 1.875em;
  overflow: auto;
}
@media screen and (min-width: 600px) {
  form {
    grid-column: 1/10;
  }
}
form label {
  flex: 1 1 100%;
}
form input {
  flex: 1 1 0;
}
form button {
  flex: 0 1 0;
}

input {
  border: 1px solid #bdbdbd;
  background-color: white;
  color: black;
  min-height: 36px;
  padding: 0 0.625em;
}
input::placeholder {
  color: #616161;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none;
}

button, input[type=submit] {
  padding: 0.625em;
  background: #616161;
  border: 1px solid #bdbdbd;
  cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
  width: auto;
  margin-right: 0.3em;
}

input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.field-container {
  margin-bottom: 1.25em;
}

.inline-form fieldset, .inline-form .inline-container {
  position: relative;
}
.inline-form input[type=submit], .inline-form button, .inline-form .btn {
  font-size: 0.925em;
  padding: 0.65rem 1.3rem;
  background: #616161;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
.inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus, .inline-form button:hover, .inline-form button:focus, .inline-form .btn:hover, .inline-form .btn:focus {
  background: #bdbdbd;
  color: white;
}

/* Validation */
.has-error {
  border-color: #d0343a;
}

.is-valid {
  border-color: #799a05;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* Search Form */
.search-field {
  padding-right: 3em;
}

.inline-form .search-submit {
  background: none;
  padding: 0.78em 1em;
  border: 0;
  border-left: 1px solid #bdbdbd;
  color: #bdbdbd;
}

.fellow-card {
  grid-column: 1/13;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.25em;
}
@media screen and (min-width: 600px) {
  .fellow-card {
    grid-column: 1/10;
  }
}
.fellow-card figure {
  flex: 0 1 100%;
}
@media screen and (min-width: 600px) {
  .fellow-card figure {
    flex: 0 1 30%;
  }
}
.fellow-card figcaption {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
}
.fellow-card .fellow {
  flex: 0 1 100%;
}
@media screen and (min-width: 600px) {
  .fellow-card .fellow {
    flex: 0 1 66%;
  }
}
.fellow-card h3 {
  margin-bottom: 0.3125em;
}

.event-address-bar {
  grid-column: span 3;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  background-color: #00a1b0;
  border: 1px solid #00a1b0;
  margin-left: -1px;
  margin-right: -1px;
  color: white;
  padding: 0.625em 1.25em;
}
.event-address-bar li {
  flex: 0 0 100%;
}
.event-address-bar.error {
  background-color: #952227;
  border: 1px solid #952227;
}
@media screen and (max-width: 320px) {
  .event-address-bar {
    grid-column: span 4;
  }
}
@media screen and (max-width: 600px) {
  .event-address-bar {
    grid-column: span 8;
  }
}

.event-address-bar-and-actions {
  grid-column: span 3;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.event-address-bar-and-actions .event-address-bar {
  margin-bottom: 1.25em;
}
.event-address-bar-and-actions .information {
  padding: 0 1.25em 0 1.25em;
}
.event-address-bar-and-actions .actions {
  padding: 0 0.625em 0.625em 0.625em;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  background: #f5f5f5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 3.75em 1.25em;
  padding: 1.25em 0.625em;
  position: relative;
}
.footer::before {
  content: "";
  background-color: #f5f5f5;
  position: absolute;
  height: 100%;
  width: 200vw;
  top: 0;
  left: -100vw;
  z-index: -1;
}
@media screen and (max-width: 600px) {
  .footer {
    grid-template-columns: repeat(8, 1fr);
    position: relative;
  }
  .footer::before {
    content: "";
    background-color: slateblue;
    position: absolute;
    height: 100%;
    width: 200vw;
    top: 0;
    left: -100vw;
    z-index: -1;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
    column-gap: unset;
    padding: 1.25em 0.625em;
    position: relative;
  }
  .footer::before {
    content: "";
    background-color: tomato;
    position: absolute;
    height: 100%;
    width: 200vw;
    top: 0;
    left: -100vw;
    z-index: -1;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    grid-template-columns: repeat(8, 1fr);
    position: relative;
  }
  .footer::before {
    content: "";
    background-color: slateblue;
    position: absolute;
    height: 100%;
    width: 200vw;
    top: 0;
    left: -100vw;
    z-index: -1;
  }
}
.footer a {
  color: black;
}
.footer div {
  grid-column: span 3;
}
@media screen and (max-width: 320px) {
  .footer div {
    grid-column: span 1;
  }
  .footer div:last-of-type {
    grid-column: span 4;
  }
}
@media screen and (max-width: 600px) {
  .footer div {
    grid-column: span 3;
  }
}

.nav-footer {
  margin: -2.5em 1.25em;
}
.nav-footer li {
  border-bottom: 1px solid #616161;
}
@media all and (min-width: 600px) {
  .nav-footer li {
    border: 0;
    float: left;
  }
}
.nav-footer a {
  display: block;
  padding: 1.25em;
}

@media all and (min-width: 600px) {
  .copyright {
    float: right;
  }
}

.header {
  grid-column: span 12;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  float: left;
  max-width: 8rem;
  margin: 0.4rem;
  flex: 1 1 50%;
}

.nav-toggle {
  float: right;
  display: block;
  padding: 0.9rem 1rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1;
  border-left: 1px solid #dbdbdb;
}
@media all and (min-width: 600px) {
  .nav-toggle {
    display: none;
  }
}
@media all and (max-width: 17em) {
  .nav-toggle {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

.search-form {
  overflow: hidden;
  max-height: 0;
}
@media all and (min-width: 600px) {
  .search-form {
    float: right;
    max-height: none;
    margin: 0.65em 0.5em 0 0;
  }
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.main-nav ul,
.secondary-nav ul {
  display: flex;
  max-width: 1280px;
}
.main-nav ul li,
.secondary-nav ul li {
  margin-right: 1.25em;
  align-self: stretch;
}
.main-nav ul li:hover,
.secondary-nav ul li:hover {
  background-color: #952227;
}

.main-nav {
  background-color: #d0343a;
  padding: 1.25em;
  flex: 1 1 100%;
  position: relative;
}
.main-nav::before {
  content: "";
  background-color: #d0343a;
  position: absolute;
  height: 100%;
  width: 200vw;
  top: 0;
  left: -100vw;
  z-index: -1;
}
.main-nav a {
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  font-weight: 400;
  letter-spacing: 0.05em;
  display: block;
  height: 100%;
  align-self: stretch;
}
.main-nav a:hover {
  background-color: #952227;
}

.secondary-nav {
  flex: 1 1 50%;
  align-self: center;
  justify-self: flex-end;
}
.secondary-nav ul {
  justify-content: flex-end;
}

.pagination {
  overflow: hidden;
}
.pagination li {
  float: left;
  border-right: 1px solid #f5f5f5;
}
.pagination li:last-child {
  border: 0;
}
.pagination a {
  padding: 1.25em;
}

.booklist {
  background-color: tomato;
}

.list-item {
  display: grid;
  grid: auto-flow/auto 2fr 1fr;
  column-gap: 5%;
  align-items: stretch;
  border: 1px solid #e0e0e0;
  padding-right: 1.25em;
  margin-top: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.list-item:first-of-type {
  margin-top: unset;
}
@media screen and (max-width: 600px) {
  .list-item {
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    height: unset;
    border-top-right-radius: 8px;
    border-bottom-left-radius: unset;
  }
}

.--booklist-card-with-icon .booklist-icon {
  align-items: center;
  align-self: stretch;
  background-color: #f3e8f5;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #f3e8f5;
  margin-left: -1px;
  margin-top: -1px;
  height: calc(100% + 2px);
  padding: 1.25em 1.25em;
}
.--booklist-card-with-icon .booklist-icon img {
  min-width: 25px;
}
@media screen and (max-width: 600px) {
  .--booklist-card-with-icon .booklist-icon {
    padding: 3.125em 3.125em;
    width: calc(100% + 2px);
  }
}
.--booklist-card-with-icon .item-content {
  padding: 0.625em 0;
}
@media screen and (max-width: 600px) {
  .--booklist-card-with-icon .item-content {
    height: unset;
    padding: 0 1.25em;
  }
  .--booklist-card-with-icon .item-content:first-of-type {
    padding-top: 1.25em;
  }
  .--booklist-card-with-icon .item-content:last-of-type {
    padding-bottom: 1.25em;
  }
}
.--booklist-card-with-icon .author {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .--booklist-card-with-icon {
    padding-right: 0;
  }
}

.author {
  clear: both;
}

.division-block-list {
  grid-column: 1/11;
}

.breadcrumbs {
  grid-column: 1/13;
  display: flex;
  margin-top: 1.25em;
  color: #0071ce;
}
.breadcrumbs li {
  margin-right: 1.25em;
}
.breadcrumbs li::hover {
  color: #004782;
}
.breadcrumbs li::after {
  content: "/";
  margin-left: 0.625em;
}
.breadcrumbs li:last-of-type {
  color: black;
}
.breadcrumbs li:last-of-type::after {
  content: "";
}

.quick-links {
  grid-column: 1/13;
}
@media screen and (min-width: 600px) {
  .quick-links {
    grid-column: 10/13;
  }
}
.quick-links h3 {
  background-color: black;
  color: white;
  padding: 0.625em;
  margin: 0;
}

.article-hero {
  background-color: #00a1b0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  grid-column: 1/13;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.875em;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  left: 50%;
  right: 50%;
}
@media screen and (min-width: 600px) {
  .article-hero {
    padding: 9.375em;
  }
}
.article-hero h1 {
  margin: 0;
}

.article-title {
  background-color: white;
  padding: 1.25em;
  flex: 0 1 90%;
}
.article-title h1 {
  font-size: 2.5em;
}

.byline {
  font-size: 0.925em;
  font-style: italic;
  margin-bottom: 0.625em;
}

.social-share {
  overflow: hidden;
  margin-bottom: 1.25em;
}
.social-share li {
  float: left;
  margin-right: 0.625em;
}
.social-share a {
  background: #616161;
  color: white;
  display: block;
  padding: 0.625em;
}
.social-share a:hover {
  background: #bdbdbd;
}

body {
  background: white;
  font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

.body {
  margin: 20px auto 0 auto;
  max-width: 1280px;
  width: 80%;
  column-gap: 2%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-size: 1rem;
}
@media screen and (max-width: 600px) {
  .body {
    grid-template-columns: repeat(8, 1fr);
    width: 95%;
  }
}
@media screen and (max-width: 320px) {
  .body {
    grid-template-columns: repeat(4, 1fr);
    column-gap: unset;
    width: 95%;
  }
}

.pl-c-main {
  grid-column: 1/13;
}

.centered {
  grid-column: 3/12;
}
@media screen and (max-width: 600px) {
  .centered {
    grid-column: 2/12;
  }
}

.full-width {
  grid-column: 1/13;
}

.code-block {
  background-color: #fafafa;
  overflow: scroll;
  padding: 0 1.875em;
  width: 100%;
}

.pl-icon-bg span {
  border-radius: 2px;
}
.pl-icon-bg span:nth-of-type(3) {
  background-color: #bdbdbd;
}

/*# sourceMappingURL=style.css.map */
