.card {
  @include space-stack-s;

  align-items: flex-start;
  border: 1px solid var(--ui-gray-light);
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  padding: var(--space) var(--space-l);

  &__heading,
  &__footer {
    flex: 100%;
  }

  &__columns {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;

    @include breakpoint($breakpoint-medium) {
      flex-flow: row wrap;
    }
  }

  &__columns + &__footer {
    margin-top: var(--space-xs);
  }

  &__image {
    @include space-stack-s;

    align-items: center;
    background-color: var(--ui-gray-xlight);
    display: flex;
    flex: 0 0 150px;
    height: 150px;
    justify-content: center;

    .image {
      max-height: 100%;
      max-width: 100%;
    }

    @include breakpoint($breakpoint-medium) {
      @include space-stack-none;
      @include space-inline-s;

      align-self: center;
      width: 150px;
    }
  }

  &__content {
    @include space-stack-s;

    flex: 1 1;

    @include breakpoint($breakpoint-medium) {
      @include space-inline-s;
      @include space-stack-none;
    }
  }

  &__ctas {
    flex: 0 1 20%;

    @include breakpoint($breakpoint-medium) {
      @include space-inline-s;
    }
  }

  &__content + &__ctas {
    @include space-inline-s;
  }
}

// Stories-only styles
.sb-show-main {
  .var-docs {
    padding: 0 0 var(--space) 0;
  }

  .example-card {
    .card__content {
      > * {
        @include space-stack-xxs;
      }
    }

    .book__callout {
      @include heading-xs;

      font-style: italic;
      font-weight: 300;
    }

    .card__ctas {
      align-items: flex-end;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      text-align: center;

      .button {
        width: 100%;
      }

      > * {
        @include space-stack-xxs;
      }
    }

    .book__filetype {
      @include space-stack-s;
    }

    .book__description {
      font-style: italic;
    }
  }
}
