.card {
    @include space-stack-s;

    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid $gray-light;
    display: flex;
    flex-flow: column wrap;
    padding: $space $space-l;

    &__heading {
        flex: 100%;
    }

    &__columns {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 100%;

        @include breakpoint($medium) {
            flex-flow: row wrap;
        }
    }

    &__image {
        @include space-stack-s;

        align-items: center;
        background-color: $gray-xlight;
        display: flex;
        flex: 0 0 150px;
        justify-content: center;
        height: 150px;

        .image {
            max-height: 100%;
            max-width: 100%;
        }

        @include breakpoint($medium) {
            @include space-stack-none;
            @include space-inline-s;

            align-self: center;
            width: 150px;
        }
    }

    &__content {
        @include space-inline-s;
        @include space-stack-s;

        flex: 1 1;

        @include breakpoint($medium) {
            @include space-stack-none;
        }
    }

    &__ctas {
        flex: 0 1 20%;
    }
}

// Stories-only styles
.sb-show-main {
    .edition-card {
        &__ctas {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        &__button {
            @include space-stack-xs;

            width: 100%;
        }
    }

    .lyrasis-card {
        .card__content {
            & > * {
                @include space-stack-xxs;
            }
        }

        .book__callout {
            @include heading-xs;

            font-style: italic;
            font-weight: 300;
        }

        .card__ctas {
            align-items: flex-end;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            text-align: center;

            .button {
                width: 100%;
            }

            & > * {
                @include space-stack-xxs;
            }
        }

        .book__filetype {
            @include space-stack-s;
        }

        .book__description {
            font-style: italic;
        }
    }
}
