.card {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;

  // .card__body {
  //   @include breakpoint($breakpoint-medium) {
  //     display: block;
  //     flex-flow: row nowrap;
  //   }
  // .card-content {
  //   @include space-stack-s;
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  // }
  // .card-actions {
  //   @include space-stack-s;
  //   column-gap: var(--space-xs);
  //   display: flex;
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  // &--top-border {
  //   border-top: 1px solid var(--ui-gray-medium);
  //   padding-top: var(--space-xs);
  // }
  // &--bottom-border {
  //   border-bottom: 1px solid var(--ui-gray-medium);
  //   padding-bottom: var(--space-xs);
  // }
  // }
  // }

  &--center {
    text-align: center;

    /* stylelint-disable */
    .card-actions {
      justify-content: center;
    }
    /* stylelint-enable */
    .card__body {
      margin: auto;
    }
  }

  &--with-border {
    border: 1px solid var(--ui-gray-medium);

    .card__body {
      padding: var(--space-s);
    }

    &.card--has-image {
      .card__body {
        padding: 0 var(--space-s) var(--space-s);
      }
    }
  }

  &--at-end {
    .card__image {
      margin-bottom: 0;
      margin-top: var(--space-s);
      order: 2;
    }
  }

  &.card--row {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    text-align: left;

    /* stylelint-disable */
    .card-actions {
      justify-content: left;
    }
    /* stylelint-enable */
    &.card--center {
      align-items: center;

      .card__body {
        margin: 0;
      }
    }

    @include breakpoint($breakpoint-medium) {
      flex-flow: row;
    }

    .card__image {
      @include breakpoint($breakpoint-medium) {
        flex: 0 0 225px;
        margin: 0 var(--space-m) 0 0;
        max-width: 50%;

        &.small {
          flex: 0 0 165px;
        }

        &.medium {
          flex: 0 0 225px;
        }

        &.large {
          flex: 0 0 360px;
        }
      }
    }

    &.card--at-end {
      .card__image {
        margin: var(--space-m) 0 0;

        @include breakpoint($breakpoint-medium) {
          margin: 0 0 0 var(--space-m);
        }
      }
    }

    &.card--with-border {
      .card__body {
        padding: var(--space-s);
      }

      &.card--has-image {
        .card__body {
          padding: 0 var(--space-s) var(--space-s);

          @include breakpoint($breakpoint-medium) {
            padding: var(--space-s) var(--space-s) var(--space-s) 0;
          }
        }

        &.card--at-end {
          .card__body {
            padding: var(--space-s) var(--space-s) 0;

            @include breakpoint($breakpoint-medium) {
              padding: var(--space-s) 0 var(--space-s) var(--space-s);
            }
          }
        }
      }
    }
  }
}
