@import "../Heading/Heading.css";

@custom-media --card-break (max-width var(--breakpoint-medium));

.card {
  align-items: flex-start;
  border: 1px solid var(--ui-gray-light);
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: var(--space-s);
  padding: var(--space) var(--space-l);

  &__heading,
  &__footer {
    flex: 100%;
  }

  &__columns {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;

    @media (--card-break) {
      flex-flow: row wrap;
    }
  }

  &__columns + &__footer {
    margin-top: var(--space-xs);
  }

  &__image {
    align-items: center;
    background-color: var(--ui-gray-xlight);
    display: flex;
    flex: 0 0 150px;
    height: 150px;
    justify-content: center;
    margin-bottom: var(--space-s);

    .image {
      max-height: 100%;
      max-width: 100%;
    }

    @media (--card-break) {
      align-self: center;
      margin-bottom: 0;
      margin-right: var(--space-s);
      width: 150px;
    }
  }

  &__content {
    flex: 1 1;
    margin-bottom: var(--space-s);

    @media (--card-break) {
      margin-bottom: 0;
    }
  }

  &__ctas {
    flex: 0 1 20%;
  }

  &__content + &__ctas {
    margin-right: var(--space-s);
  }
}

/* Stories-only styles */
.sb-show-main {
  .var-docs {
    padding: 0 0 var(--space) 0;
  }

  .example-card {
    .card__content {
      > * {
        margin-bottom: var(--space-xxs);
      }
    }

    .book__callout {
      @add-mixin heading-xs;

      font-style: italic;
      font-weight: 300;
    }

    .card__ctas {
      align-items: flex-end;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      text-align: center;

      .button {
        width: 100%;
      }

      > * {
        margin-bottom: var(--space-xxs);
      }
    }

    .book__filetype {
      margin-bottom: var(--space-s);
    }

    .book__description {
      font-style: italic;
    }
  }
}
