.header {
  grid-column: span 12;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  float: left;
  max-width: 8rem;
  margin: 0.4rem;
  flex: 1 1 50%;
}

.nav-toggle {
  float: right;
  display: block;
  padding: 0.9rem 1rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1;
  border-left: 1px solid #dbdbdb;

  @media all and (min-width: $bp-med) {
    display: none;
  }

  @media all and (max-width: 17em) {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

.search-form {
  overflow: hidden;
  max-height: 0;

  @media all and (min-width: $bp-med) {
    float: right;
    max-height: none;
    margin: 0.65em 0.5em 0 0;
  }
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.main-nav,
.secondary-nav {
  ul {
    display: flex;
    max-width: 1280px;

    li {
      margin-right: $space;
      align-self: stretch;

      &:hover {
        background-color: $nypl-red-dark;
      }
    }
  }
}

.main-nav {
  background-color: $nypl-red;
  padding: $space;
  flex: 1 1 100%;
  position: relative;

  &::before {
    content: '';
    background-color: $nypl-red;
    position: absolute;
    height: 100%;
    width: 200vw;
    top: 0;
    left: -100vw;
    z-index: -1;
  }

  a {
    color: $white;
    font-family: $font-light;
    font-weight: 400;
    letter-spacing: 0.05em;
    display: block;
    height: 100%;
    align-self: stretch;

    &:hover {
      background-color: $nypl-red-dark;
    }
  }
}

.secondary-nav {
  flex: 1 1 50%;
  align-self: center;
  justify-self: flex-end;

  ul {
    justify-content: flex-end;
  }
}

//Pagination
.pagination {
  overflow: hidden;

  li {
    float: left;
    border-right: 1px solid $gray-light-2;

    &:last-child {
      border: 0;
    }
  }

  a {
    padding: $space;
  }
}