<div class="centered">
  <h4>MT_ TT-14: Pull Quote</h4>

  <pre class="code-block"><code>
&lt;blockquote class=&quot;full-width&quot;&gt;
  &ldquo;White, percolator aroma, trifecta, doppio blue mountain eu con panna kopi-luwak caf&eacute; au lait. Pumpkin spice gal&atilde;o breve skinny so sugar cream seasonal White, percolator aroma doppio&rdquo;

  &lt;span class=&quot;attribution&quot;&gt;Tyler McSpeaker, Manager at Lorem Ipsum Library&lt;/span&gt;
&lt;/blockquote&gt;
  </pre></code>
</div>

<blockquote class="full-width">
  “White, percolator aroma, trifecta, doppio blue mountain eu con panna kopi-luwak café au lait. Pumpkin spice galão breve skinny so sugar cream seasonal White, percolator aroma doppio”

  <span class="attribution">Tyler McSpeaker, Manager at Lorem Ipsum Library</span>
</blockquote>