<p>All list items should live within a <code>ol</code> or <code>ul</code> element.

<li class="list-item --booklist-card-with-icon">
  <span class="booklist-icon"><img src="/images/icons/computer.png" /></span>

  <div class="item-content">
    <h3>The Anna Atkins volumes Long Title That Wraps [electronic resource]</h3>

    <span class="tag">1996</span>

    <span class="tag">Computer File</span>

    <div class="author">By Jason McAuthor</div>

    {% if online == true %}
        <p>Our website is in maintenance mode. Please, come back later.</p>
    {% endif %}

    <p>Available onsite at specific locations. <a href="#" class="btn-text">View Detail<span class="icon icon-arrow-right"></span></a></p>
  </div>

  <div class="item-content">
    <button href="#" class="btn btn-outline fluid">How to View</button>

    <button href="#" class="btn btn-outline fluid">All To My List</button>
  </div>
</li>