// Theme Colors
$color-books-and-more: $nypl-red-regular;
$color-research: $nypl-turquoise-regular;
$color-whats-on: $nypl-purple-regular;
$color-spotlight: $nypl-purple-regular;
$color-your-interests: $nypl-yellow-regular;
$color-locations: $nypl-blue-regular;
$color-support: $nypl-green-regular;
$color-help: $nypl-blue-dark;

// Utilities
$color-success: $nypl-turquoise-regular;
$color-error: $nypl-red-dark;
$color-warning: $nypl-yellow-dark;
$color-information: $nypl-blue-regular;
