// $space-xxs: $space/4;   //  4px
// $space-xs: $space/2;    //  8px
// $space-s: $space*1;     // 16px
// $space-m: $space*1.5;   // 24px
// $space-l: $space*2;     // 32px
// $space-xl: $space*3;    // 48px
// $space-xxl: $space*4;   // 64px

@mixin space-inline-none {
  margin-right: 0;
}

@mixin space-inline-xxs {
  margin-right: var(--space-xxs);
}

@mixin space-inline-xs {
  margin-right: var(--space-xs);
}

@mixin space-inline-s {
  margin-right: var(--space-s);
}

@mixin space-inline-m {
  margin-right: var(--space-m);
}

@mixin space-inline-l {
  margin-right: var(--space-l);
}

@mixin space-inline-xl {
  margin-right: var(--space-xl);
}

@mixin space-inline-xxl {
  margin-right: var(--space-xxl);
}
