:root {
  /** Spacing */
  --space: 1rem;

  /** Spacing variants */

  /** 4px */
  --space-xxs: calc(var(--space) / 4);

  /** 8px */
  --space-xs: calc(var(--space) / 2);

  /** 16px */
  --space-s: calc(var(--space) * 1);

  /** 24px */
  --space-m: calc(var(--space) * 1.5);

  /** 32px */
  --space-l: calc(var(--space) * 2);

  /** 48px */
  --space-xl: calc(var(--space) * 3);

  /** 64px */
  --space-xxl: calc(var(--space) * 4);

  /** 96px */
  --space-xxxl: calc(var(--space) * 6);
}
