// $space-xs: $space/2;    //  8px
// $space-s: $space*1;     // 16px
// $space-m: $space*1.5;   // 24px
// $space-l: $space*2;     // 32px
// $space-xl: $space*3;    // 48px

@mixin space-inset-none {
  padding: 0;
}

@mixin space-inset-xs {
  padding: var(--space-xs);
}

@mixin space-inset-s {
  padding: var(--space-s);
}

@mixin space-inset-m {
  padding: var(--space-m);
}

@mixin space-inset-l {
  padding: var(--space-l);
}

@mixin space-inset-xl {
  padding: var(--space-xl);
}

@mixin get-space-inset($id) {
  @if $id == "none" {
    @include space-inset-none;
  }

  @if $id == "xs" {
    @include space-inset-xs;
  }

  @if $id == "s" {
    @include space-inset-s;
  }

  @if $id == "m" {
    @include space-inset-m;
  }

  @if $id == "l" {
    @include space-inset-l;
  }

  @if $id == "xl" {
    @include space-inset-xl;
  }
}
