
.no-scroll {
  position: fixed;
  top: -100vh;
}

.modal { 
  @include space-inset-s;

  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  background-color: $gray-warm-xlight;
}
