.dropdown {
  display: flex;
  align-items: baseline;

  &__label {
    @include space-inline-xs;

    display: inline-block;
    font-weight: 500;
  }

  &__required-message {
    @include body-small;

    font-weight: 300;
  }

  &--label-top {
    flex-flow: column;
  }

  &--label-left {
    flex-flow: row;
  }
}
