.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__required-message {
    @include body-small;

    font-weight: 300;
  }

  &__select-area {
    width: 100%;
    flex: 1 1 0;
  }

  .label-container {
    flex: 1 1 0;
  }

  &__label {
    @include space-inline-xs;

    display: inline-block;
    font-weight: 500;
  }

  &--label-top {
    flex-flow: column;
  }

  &--label-left {
    width: 100%;
    flex-flow: row;
  }
}
