{% include "@organisms/global/00-header.twig" %}

{% block hero %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

<main>
  {% block content %}{% endblock %}
</main>
{# {% include "@organisms/00-global/01-footer.twig" %} #}
