{% extends "@templates/00-layouts/00-site.twig" %}
  {% block content %}

  <main>
    <p>beep</p>
    <div class="l-main">
      {% block main %}
        <p>Content Placeholder</p>
      {% endblock %}
    </div>
    <div class="l-sidebar">
      {% block sidebar %}
        <h3>Sidebar</h3>
      {% endblock %}
    </div>
  </main>

{% endblock %}
