.form-item {
  @include space-stack-s;

  color: $gray-medium;
  max-width: 32em;

  @include clearfix;
}

.form-item__label {
  display: block;
  font-weight: 600;

  @include breakpoint($small) {
    @include space-inline-xs;

    display: block;
    padding: 0.6em 0;
  }
}

@mixin input {
  &__textfield {
    @include space-inset-xs;

    border: 1px solid $gray-medium;
    max-width: 100%;

    &:focus {
      border-color: $form-focus;
    }

    &::-webkit-input-placeholder {
      color: $gray-light;
    }

    &:-moz-placeholder {
      color: $gray-light;
    }

    &::-moz-placeholder {
      color: $gray-light;
    }

    &:-ms-input-placeholder {
      color: $gray-light;
    }
  }
}

.form-item__input {
  @include input;
  width: 100%;
}

@mixin input-description {
  margin-top: $space-xs; // Necessary for the way we do flex on input groups

  &--error {
    color: $nypl-red-dark;
  }
}

.form-item__input-description {
  @include input-description();
  @include type-scale(-2);
}

.form-fieldset {
  @include space-inset-none;
  @include space-stack-l;

  border: none;

  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }
}
