//
// Generic header styles:
// All arguments are optional. If not defined, the defaults below will be used
//

@mixin heading-xl($color: inherit) {
  color: #{$color};
  font-size: var(--font-size-4);
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.1;
  margin: 0 0 0.5em;
  width: auto;

  &__link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

@mixin heading-large($color: inherit) {
  color: #{$color};
  font-size: var(--font-size-3);
  font-weight: 500;
  line-height: 1.25;
  margin: 0 0 0.5em;
  width: auto;

  &__link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

@mixin heading-medium($color: inherit) {
  color: #{$color};
  font-size: var(--font-size-2);
  font-weight: 500;
  line-height: 1.25;
  margin: 0 0 0.5em;
  width: auto;

  &__link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

@mixin heading-small($color: inherit) {
  color: #{$color};
  font-size: var(--font-size-1);
  font-weight: 500;
  line-height: 1.25;
  margin: 0 0 0.5em;
  width: auto;

  &__link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

@mixin heading-xs($color: inherit) {
  color: #{$color};
  font-size: var(--font-size-1);
  font-weight: 400;
  line-height: 1.15;
  margin: 0 0 0.5em;
  width: auto;

  &__link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

.nypl-ds {
  h1 {
    @include heading-xl;
  }

  h2 {
    @include heading-large;
  }

  h3 {
    @include heading-medium;
  }

  h4 {
    @include heading-small;
  }

  h5,
  h6 {
    @include heading-xs;
  }

  .heading {
    &--primary {
      @include heading-xl;
    }

    &--secondary {
      @include heading-large;
    }

    &--tertiary {
      @include heading-medium;
    }

    &--callout {
      @include heading-xs;
    }
  }
}

.heading__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.heading-section {
  &__more-link {
    @include more-link;
  }

  &__heading {
    &--has-link {
      display: inline;
    }

    margin-right: var(--space-xs);
  }
}

.page-title {
  &__heading {
    &--block-color {
      background-color: var(--section-research-primary);
      color: var(--ui-white);
    }
  }
}
