.edition-card {
  border: 1px solid $gray-light;

  &__card-content {
    display: flex;
  }

  &__edition-info-item {
    display: block;
  }

  &__edition-info-link {
    display: block;
  }

  &__button {
    @include button--filled($black);
  }

  &__missing-links {
    background-color: $gray-light;
  }
}
