.pagination {
  @include space-stack-l;

  align-items: stretch;
  display: flex;
  justify-content: center;
  width: 100%;

  & > * {
    &:not(:last-child) {
      @include space-inline-xs;
    }
  }

  &__dropdown {
    @include dropdown-base;
  }
}
