.location-info {
  @include space-stack-s;

  &__eyebrow {
    @include body-small-bold;

    color: $nypl-purple-dark;
  }

  &__heading {
    @include space-stack-s;
  }

  &__directions {
    @include more-link;
    @include space-stack-s;
  }

  &__phone {
    font-size: 0.875rem;
    letter-spacing: 0.107142857em;
  }

  &__phone-number {
    font-size: 1rem;
    letter-spacing: 0.0275em;
    color: $nypl-blue-regular;
  }
}
