<div class="centered">
  <h4>OL-2: Division Block List</h4>
  <p>All list items should live within a <code>ol</code> or <code>ul</code> element.

  {% verbatim %}
<pre class="code-block"><code>
beep
</pre></code>
  {% endverbatim %}
</div>

<div class="division-block-list">
  <h2>Division Block List Header</h2>

  <p>White, percolator aroma, trifecta, doppio blue mountain eu con panna kopi-luwak café au lait. Pumpkin spice galão breve skinny so sugar cream seasonal White, percolator aroma, trifecta, doppio blue mountain eu con panna</p>

  <ul>
    {% for i in 1..5 %}
      <li class="list-item --booklist-card-with-icon">
        <span class="booklist-icon"><img src="/images/icons/computer.png" /></span>

        <div class="item-content">
          <h3>The Anna Atkins volumes Long Title That Wraps [electronic resource]</h3>

          <span class="tag">1996</span>

          <span class="tag">Computer File</span>

          <div class="author">By Jason McAuthor</div>

          <p>Available onsite at specific locations. <a href="#" class="btn-text">View Detail<span class="icon icon-arrow-right"></span></a></p>
        </div>

        <div class="item-content">
          <button href="#" class="btn btn-outline fluid">How to View</button>

          <button href="#" class="btn btn-outline fluid">All To My List</button>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>