.search-bar {
  display: flex;
  flex-flow: column nowrap;

  @include breakpoint($breakpoint-medium) {
    flex-flow: row nowrap;
  }

  .select {
    flex: 1 1 25%;
  }

  .button {
    @include space-stack-xs;
  }
}
