$search-bar--breakpoint: 856px;

.search-bar {
    @include form-item;

    display: flex;
    flex-flow: column nowrap;

    @include breakpoint($search-bar--breakpoint) {
        flex-flow: row nowrap;
    }

    &__input-group {
        @include input;

        display: flex;
        flex: 1;
        flex-flow: row wrap;
    }

    &__dropdown {
        @include space-stack-xs;

        // Allows us to still have 'appearance: none' on select
        // needed for iOS native styles while still appearing white
        // in organisms that use this component
        align-self: flex-start;
        background-color: $white;
        width: 100%;

        @include breakpoint($search-bar--breakpoint) {
            @include space-stack-none;
            flex: 0 1 25%;
        }
    }

    &__input {
        @include input;

        flex: 1 1 70%;
        min-height: 40px; // Accommodates the border for the search-bar without parameters

        &--error::placeholder {
            //TODO: IE11 support
            color: $nypl-red-dark;
        }
    }

    &__input-description {
        @include input-description();

        flex: 1 1 100%;
    }

    &__button {
        @include button--filled($black);
    }
}
