.search-bar {
  display: flex;
  flex-flow: column nowrap;

  @media (--medium-break) {
    flex-flow: row nowrap;
  }

  .select {
    flex: 1 1 25%;
  }

  .button {
    margin-bottom: var(--space-xs);
  }
}
