.video-player {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  &--four-by-three {
    padding-bottom: 75%;
  }

  &--square {
    padding-bottom: 100%;
  }

  &--errored {
    background-color: var(--ui-gray-warm-light);
    height: auto;
    padding: var(--space-s);
  }

  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
