// Styles needed to override `react-datepicker` plugin styles.
.react-datepicker__tab-loop {
  // Prevents the calendar from shifting any elements below it.
  position: absolute;
  z-index: 1000;
}

.date-picker-calendar {
  font-family: var(--nypl-fonts-body);
  position: unset !important;

  .react-datepicker {
    border-color: var(--nypl-colors-ui-border-default);
  }
  // The styles for the triangle arrow above the calendar popup.
  .react-datepicker__triangle {
    // Shift the triangle to the left.
    transform: translate(32px, 0px) !important;
    &::before {
      border-bottom-color: var(--nypl-colors-ui-border-default) !important;
    }
    &::after {
      border-bottom-color: var(--nypl-colors-ui-gray-x-light-cool) !important;
    }
  }
  // The left and right arrow buttons.
  .react-datepicker__navigation {
    &-icon {
      top: 2px;
      width: 0px;
      &::before {
        border-color: var(--nypl-colors-ui-border-default);
      }
    }
    &:hover {
      .react-datepicker__navigation-icon::before {
        border-color: var(--nypl-colors-ui-gray-dark);
      }
    }
  }
  // The header with the appropriate date.
  .react-datepicker__header {
    border-color: var(--nypl-colors-ui-border-default);
    background-color: var(--nypl-colors-ui-gray-x-light-cool);
  }
  // Make sure the width is enough to fit 12 selectable years.
  .react-datepicker__year-wrapper {
    max-width: 220px;
  }
  // Hover state
  .react-datepicker__year-text:not(.react-datepicker__year-text--disabled),
  .react-datepicker__month-text,
  .react-datepicker__day {
    &:hover {
      border-radius: 0;
      background-color: var(--nypl-colors-ui-gray-x-light-cool);
      color: var(--nypl-colors-ui-black);
    }
  }
  .react-datepicker__day--keyboard-selected {
    opacity: 1;
    border-radius: 0;
    background-color: var(--nypl-colors-ui-gray-x-light-cool);
    color: var(--nypl-colors-ui-black);
  }
  // Moving away from React DatePickers default blue color theme:
  .react-datepicker__year,
  .react-datepicker__month,
  .react-datepicker__day {
    // For currently selected ranges
    &--in-range.react-datepicker__day--in-range {
      opacity: 1;
    }
    // For ranges about to be selected.
    &-text--keyboard-selected,
    &--keyboard-selected,
    &--in-range,
    &--in-selecting-range {
      background-color: var(--nypl-colors-ui-gray-x-light-cool);
      border-radius: 0;
      color: var(--nypl-colors-ui-black);
    }
    // For today's date visual styles.
    &-text--today,
    &--today {
      color: var(--nypl-colors-ui-black);
      background-color: var(--nypl-colors-ui-gray-light-cool);
      &:hover {
        color: var(--nypl-colors-ui-black);
        background-color: var(--nypl-colors-ui-gray-light-cool);
      }
    }
    // Selected states.
    &-text--selected,
    &--selected {
      background-color: var(--nypl-colors-ui-link-primary);
      font-weight: bold;
      border-radius: 0;
      color: var(--nypl-colors-ui-white);
      opacity: 1;
      &:hover {
        background-color: var(--nypl-colors-ui-link-primary);
        color: var(--nypl-colors-ui-white);
      }
    }
  }
}

// Dark mode styles
.chakra-ui-dark {
  .react-datepicker {
    background-color: var(--nypl-colors-dark-ui-bg-default);
    border-color: var(--nypl-colors-dark-ui-border-default);
  }
  // The styles for the triangle arrow above the calendar popup.
  .react-datepicker__triangle {
    &::before {
      border-bottom-color: var(--nypl-colors-ui-border-default) !important;
    }
    &::after {
      border-top-color: var(--nypl-colors-dark-ui-bg-hover) !important;
      border-bottom-color: var(--nypl-colors-dark-ui-bg-hover) !important;
    }
  }
  // The left and right arrow buttons.
  .react-datepicker__navigation {
    &-icon {
      &::before {
        border-color: var(--nypl-colors-ui-gray-medium);
      }
    }
    &:hover {
      .react-datepicker__navigation-icon::before {
        border-color: var(--nypl-colors-ui-gray-light-cool);
      }
    }
  }
  // The header with the appropriate date.
  .react-datepicker__header {
    border-color: var(--nypl-colors-dark-ui-border-default);
    background-color: var(--nypl-colors-dark-ui-bg-hover);
    &.react-datepicker-year-header,
    .react-datepicker__current-month,
    .react-datepicker__day-name {
      color: var(--nypl-colors-dark-ui-typography-heading);
    }
  }
  // Hover state
  .react-datepicker__year-text:not(.react-datepicker__year-text--disabled),
  .react-datepicker__month-text,
  .react-datepicker__day {
    &:hover {
      background-color: var(--nypl-colors-dark-ui-bg-default);
      color: var(--nypl-colors-ui-white);
    }
  }
  .react-datepicker__day--keyboard-selected {
    background-color: var(--nypl-colors-dark-ui-bg-default);
    color: var(--nypl-colors-ui-white);
  }

  // Moving away from React DatePickers default blue color theme:
  .react-datepicker__year,
  .react-datepicker__month,
  .react-datepicker__day {
    color: var(--nypl-colors-dark-ui-typography-heading);

    // For ranges about to be selected.
    &-text--keyboard-selected,
    &--keyboard-selected,
    &--in-range,
    &--in-selecting-range {
      background-color: var(--nypl-colors-dark-ui-bg-hover);
      color: var(--nypl-colors-ui-white);
      &:hover {
        background-color: var(--nypl-colors-dark-ui-bg-hover);
      }
    }
    // For today's date visual styles.
    &-text--today,
    &--today {
      color: var(--nypl-colors-ui-white);
      background-color: var(--nypl-colors-dark-ui-bg-active);
      &:hover {
        color: var(--nypl-colors-ui-white);
        background-color: var(--nypl-colors-dark-ui-bg-hover);
      }
    }
    // Selected states.
    &-text--selected,
    &--selected {
      background-color: var(--nypl-colors-dark-ui-link-primary);
      color: var(--nypl-colors-ui-black);
      &:hover {
        background-color: var(--nypl-colors-dark-ui-link-primary);
        color: var(--nypl-colors-ui-black);
      }
    }
  }
  // Styles are getting convoluted and this specific override was moved to a separate code block.
  .react-datepicker__day {
    &--in-range:not(&--in-selecting-range) {
      background-color: transparent;
      color: var(--nypl-colors-ui-white);
    }
  }

  // Disabled
  .react-datepicker__day--disabled,
  .react-datepicker__month-text--disabled,
  .react-datepicker__quarter-text--disabled,
  .react-datepicker__year-text--disabled {
    cursor: default;
    color: var(--nypl-colors-dark-ui-disabled-primary);
    &:hover {
      color: var(--nypl-colors-dark-ui-disabled-primary);
    }
  }
}
