$break-breadcrumbs: $medium; // $medium = 600px
$break-breadcrumbs-mobile: max-width 599px;

.breadcrumbs {
    @include breakout;

    background-color: $nypl-turquoise-dark;
    padding-top: $space-xs;
    padding-bottom: $space-xs;
}

.breadcrumbs__list {
    @include list-reset;
    @include wrapper;

    color: $white;
}

.breadcrumbs__item {
    @include type-scale(-1);
    @include space-inline-xxs;

    align-items: center;
    display: inline;
    letter-spacing: -0.023em;
    line-height: 1.5;
    position: relative;
    word-break: break-word;

    &:not(:last-child) {
        &::after {
            content: "/";
            padding-left: $space-xxs;
        }

        @include breakpoint($break-breadcrumbs-mobile) {
            display: none;
        }
    }

    &:last-child {
        @include breakpoint($break-breadcrumbs-mobile) {
            padding-left: $space-m;
        }
    }
}

.breadcrumbs__icon {
    @include icon;

    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(90deg) translateX(-50%);

    @include breakpoint($break-breadcrumbs) {
        display: none;
    }
}

.breadcrumbs__link,
.breadcrumbs__link:link,
.breadcrumbs__link:visited,
.breadcrumbs__link:focus {
    color: inherit;
    text-decoration: none;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}
