/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	align-items: center;
	background: $nypl-blue;
	border-radius: 2px;
	border: 0;
	color: $white;
	display: flex;
	justify-content: space-between;
	letter-spacing: 0.05em;
	line-height: 1;
	padding: $pad-half $pad;
	position: relative;
	text-align: center;

	&:hover, &:focus {
		background: $gray;
		color: $white;
	}

	&.disabled {
		background: $gray-light-2;
		color: $gray;
	}

	&.outline {
		background-color: transparent;
		color: $black;
		border: 1px solid $gray-light;
		// border-style: inset;
	}

	.icon {
		margin-right: 10px;
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $gray;
	font-size: 1.4rem;
	font-weight: normal;
}

.text-btn {
	background-color: transparent;
	border: 0;
	color: $nypl-blue;
}