
.breadcrumbs {
  grid-column: 1 / 13;
  display: flex;
  margin-top: $space;
  color: $nypl-blue;

  li {
    margin-right: $space;

    &::hover {
      color: $nypl-blue-dark;
    }

    &::after {
      content: '/';
      margin-left: $space-half;
    }

    &:last-of-type {
      color: $black;

      &::after {
        content: '';
      }
    }
  }
}

.quick-links {
  grid-column: 1 / 13;

  @media screen and (min-width: $bp-med) {
    grid-column: 10 / 13;
  }

  h3 {
    background-color: $black;
    color: $white;
    padding: $space-half;
    margin: 0;
  }
}