<button 
  href="#" 
  class="
    btn 
    btn-outline 
    {{ button_fluid_bool ? 'fluid' : '' }}
  ">

  {% if button_icon is defined %}
    <span 
      class="
        icon 
        icon-{{ button_icon }}
        small"
    ></span>
  {% endif %}

  {{ button_string }}
</button>