<button 
  href="#" 
  class="
    btn 
    {{ button_fluid_bool ? 'fluid' : '' }}
  ">

  <span 
    class="
      icon 
      icon-{{ button_icon.icon }} 
      white"
  ></span>

  {{ button_icon.string }}
</button>