<p>
  <h4>AB-7: Button _Cancel Button</h4>
  <button href="#" class="btn btn-cancel">Cancel</button>
</p>

<p>
  <h4>AB-15: Button _Filled Button Disabled</h4>
  <button href="#" class="btn disabled">Disabled Button</button>
</p>