<p>
  <h4>AB-12, AB-13: Button _Round Button Large with Icon</h4>

  <div class="btn-group">
    <button href="#" class="btn btn-round-large btn-round-icon">
      <span class="icon icon-plus blue"></span>
    </button>
    <button href="#" class="btn btn-round-large btn-round-icon">
      <span class="icon icon-minus blue"></span>
    </button>
  </div>
</p>