<p>
  <h4>AB-3: Button _Outline Button</h4>
  <button href="#" class="btn btn-outline">Hello World</button>
</p>

<p>
  <h4>AB-4: Button _Outline Button with Icon</h4>
  <button href="#" class="btn btn-outline">
    <span class="icon icon-search"></span>
    Search
  </button>
</p>

<p>
  <h4>AB-5: Button _Outline Button Large</h4>
  <button href="#" class="btn btn-large btn-outline">Register</button>
</p>