<p>
  <h4>AB-1: Button _Filled Button</h4>
  <button href="#" class="btn">Subscribe</button>
</p>

<p>
  <h4>AB-2: Button _Filled Button with Icon</h4>
  <button href="#" class="btn">
    <span class="icon icon-search white"></span>
    Search
  </button>
</p>

<p>
  <h4>AB-6: Button _Filled Button Large</h4>
  <button href="#" class="btn btn-large">Register</button>
</p>