<p>
  <h4>AB-8: Button _Text Button</h4>
  <a href="#" class="btn btn-text">Hello World</a>
</p>

<p>
  <h4>AB-9: Button _Text Button with Arrow</h4>
  <p><strong>Please note:</strong> this atom's placement subject to change</p>
  <a href="#" class="btn-text">
    Learn More
    <span class="icon icon-arrow-right"></span>
  </a>
</p>