.input {
  &__checkbox {
    -webkit-appearance: none;
    border: 2px solid var(--ui-gray-dark);
    border-radius: 3px;
    display: inline-block;
    height: 1.375rem;
    outline: none;
    position: relative;
    vertical-align: middle;
    width: 1.375rem;

    &:before {
      content: "";
      display: block;
      height: 0.75rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 0.75rem;
    }

    &:checked {
      border-color: var(--ui-focus);

      &:before {
        background-color: var(--ui-focus);
      }
    }

    + label {
      display: inline-block;
      font-size: var(--font-size-0);
      font-weight: 300;
      margin-bottom: 0px;
      margin-left: var(--space-xs);
      vertical-align: middle;
    }

    &--error {
      border-color: var(--ui-error);

      + label {
        color: var(--ui-error);
      }

      &:checked {
        border-color: var(--ui-error);

        &:before {
          background-color: var(--ui-error);
        }
      }
    }

    &:disabled {
      border-color: var(--ui-gray-dark);

      + label {
        color: var(--ui-gray-dark);
        font-style: italic;
      }
    }
  }
}
