//Article
.article-hero {
  background-color: $nypl-success;
  display: flex;
  position: relative;
  grid-column: 1 / 13;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30vh;
  width: 100%;

  @include break-grid($nypl-success);
}

.article-title {
  background-color: $white;
  padding: $space;
  flex: 0 1 90%;

  h1 {
    font-size: 2.5em;
  }
}

.byline {
  font-size: $font-size-small-2;
  font-style: italic;
  margin-bottom: $space-half;
}

//Social Share
.social-share {
  overflow: hidden;
  margin-bottom: $space;

  li {
    float: left;
    margin-right: $space-half;
  }

  a {
    background: $gray-dark;
    color: $white;
    display: block;
    padding: $space-half;

    &:hover {
      background: $gray;
    }
  }
}