/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  background: $nypl-blue;
  border-radius: 2px;
  border: 0;
  height: 36px;
  padding: $pad-half $pad;
  max-width: 320px;

  color: $white;
  font-family: $font-light;
  letter-spacing: 1.5px;
  line-height: 1;
  text-align: center;

  &:hover {
    background: $nypl-blue-dark;
  }

  &:focus {
    outline: 2px solid $nypl-blue-dark;
  }

  &.disabled {
    background: $gray-light;
    color: $gray;

    &:hover {
      background-color: $gray-dark;
    }
  }

  .icon {
    margin-right: 10px;
  }
}

.btn-large {
  font-family: $font;
  line-height: 0;
  text-transform: capitalize;
  padding: $pad-and-quarter $pad-double;
}

.btn-text {
  background-color: transparent;
  color: $nypl-blue;
  display: inline-block;
  position: relative;

  .icon-arrow-right {
    position: absolute;
    margin-left: 5px;
    margin-top: 1px;
    margin-right: unset;
    width: 9px;
  }

  &:hover {
    background: $nypl-blue-light;
  }
}

.btn-cancel {
  padding: $pad-half $pad-half;
  background-color: $nypl-red-light;
  color: $nypl-red-dark;

  &:hover {
    background: $nypl-red-dark;
    color: $white
  }
}

.btn-outline {
  background-color: transparent;
  border: 1px solid $gray-light;
  color: $black;
  justify-content: center;
  width: 100%;


  &:hover {
    background: $gray-xxlight;
  }
}

.btn-tag {
  background-color: $nypl-yellow-light;
  color: $black;
  border-radius: 30px;
  padding: 0 $pad;
  height: 32px;
  font-size: $font-size-small-2;

  &:hover {
    background: $nypl-yellow;
  }
}

.btn-round-large {
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid $nypl-blue-light;
  color: $nypl-blue;
  height: 40px;
  line-height: 1;
  text-align: center;
  padding: $pad-half $pad-and-half;

  &:hover {
    background: $nypl-blue-light;
    color: $nypl-blue-dark;
  }
}

.btn-round-icon {
  border-radius: 50%;
  height: 40px;
  padding: unset;
  width: 40px;

  .icon {
    height: 24px;
    margin-right: unset;
    width: 24px;
    margin: auto;
  }
}

.btn-related-link {
  background-color: transparent;
  border: 1px solid $gray-light;
  padding: $pad-half $pad;
  text-align: left;
  width: 100%; // Placeholder until I figure out how I wanna do the grid

  &:hover {
    background: $gray-xxlight;
  }
}

.btn + .btn {
  margin-top: var(--margin-xs);
}

.placeholder {
  background-color: $black;
  margin-right: 5px;
}