.icon {
	display: inline-block;
	background-size: contain;
	width: 16px;
	height: 16px;
}

.icon-search {
	background-image: url('../images/icons/search-small.png');
}

.icon-search-white {
	background-image: url('../images/icons/search-small-white.png');
}