.img-fluid {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.full-bleed {
  height: 10vh;
  max-width: 100%;
  width: 100%;
}

.circle-mask {
  background-color: $nypl-yellow-light;
  border-radius: 50%;
  height: 68px;
  width: 68px;
}