.inline-list {
  li {
    display: inline-block;
  }
}

/* Social List */
.social-list {
  li {
    margin: 0 0.4rem $space 0;
  }
  
  a {
    font-size: 1.6em;
  }
}


/* Headline List */
.headline-list {
  margin-bottom: $space;

  &.flush {
    margin: 0;
  }

  h4 {
    font-weight: normal;
  }

  li {
    padding: $pad-quarter 0;
    border-top: 1px solid $gray-light-3;
  }
}

/* Post List */
.post-list {
  li {
    margin-bottom: $space;
  }
}

/* Bullet List */
.bullet-list {
  list-style: square;
  margin: 0 0 1em 1.2em;
  line-height: 1.3;

  li {
    margin-bottom: $space;
  }
}

/* Text List */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3;

  li {
    margin-bottom: $space;
  }
}

ul {
  grid-column: 1 / 13;
}

.list-item {
  display: grid;
  grid: auto-flow / auto 2fr 1fr;
  column-gap: $space-double;

  // height: 165px;
  border: 1px solid $gray-light;
  padding-right: $space;
  margin-top: var(--margin-xs);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);

  &:first-of-type {
    margin-top: unset;
  }

  @media screen and (max-width: 320px) {
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    height: unset;

    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: unset;
  }
}

.--booklist-card-with-icon {
  .booklist-icon {
    align-items: center;
    background-color: $nypl-purple-light;
    display: flex;
    justify-content: center;

    // Creates a border-radius on the left-hand side that sits on top of the border for the list item
    border-radius: var(--border-radius);
    border: 1px solid $nypl-purple-light;
    margin-left: -1px;
    margin-top: -1px;
    height: 165px;
    padding: 0 calc(var(--pad-double) + var(--pad-half));

    img {
      min-width: 25px;
    }

    @media screen and (max-width: 320px) {
      width: calc(100% + 2px);
    }
  }

  .item-content {
    height: 163px; // list-item's height -2px of border
    padding: var(--pad) 0;

    @media screen and (max-width: 320px) {
      height: unset;
      padding: 0 var(--space);

      &:first-of-type {
        padding-top: var(--pad);
      }

      &:last-of-type {
        padding-bottom: var(--pad);
      }
    }
  }

  .author {
    width: 100%;
  }

  @media screen and (max-width: 320px) {
    padding-right: 0;
  }
}

.author {
  clear: both;
}

.division-block-list {
  grid-column: 1 / 11;
}