.form-item {
    @include space-stack-s;

    color: $gray-medium;
    max-width: 32em;

    @include clearfix;
}

.form-item__label {
    display: block;
    font-weight: 600;

    @include breakpoint($small) {
        @include space-inline-xs;

        display: block;
        padding: 0.6em 0;
    }
}

.form-item {
    &__textfield {
        border-left: 1px solid $gray-medium;
        border-top: 1px solid $gray-medium;
        border-bottom: 1px solid $gray-medium;
        border-right: none;
        padding: $space-xs $space-s;

        &:focus {
            outline: 2px solid $form-focus;
        }
    }
}
