{% set image_gallery_vars = 
  {
    'image_1': {
      'src': ( image_9_12.src ),
      'alt': ( image_9_12.alt ),
    }
  }
%}

<div class="image-gallery">
  {% if header is defined %}
    <h2>{{ header }}</h2>
  {% endif %}
  image gallery
  <ul>
    {% for i in 0..6 %}
      <li>
        <img src="" alt="" />
      </li>
    {% endfor %}
  </ul>
</div>