<div class="centered">
  <h2>A: Icons + Logos</h2>
  {# <p>Built using the <a href="https://designsystem.digital.gov/components/icons/">USWDS</a> guidelines.</p> #}

  <ul class="icons">
    <li>
      <h3>AIL-1: Lion Logo</h3>
      <img src="/images/logo.svg" aria-labelledby="#nypl-logo" />
    </li>

    <li>
      <h3>AIL-2: Arrow-Down</h3>
      <span class="icon icon-arrow-down"><span>
    </li>

    <li>
      <h3>AIL-3: Arrow-Up</h3>
      <span class="icon icon-arrow-up"><span>
    </li>

    <li>
      <h3>AIL-4: Arrow-Right</h3>
      <span class="icon icon-arrow-right"><span>
    </li>

    <li>
      <h3>AIL-5: Arrow-Left</h3>
      <span class="icon icon-arrow-left"><span>
    </li>

    <li>
      <h3>AIL-6: Search</h3>
      <span class="icon icon-search"><span>
    </li>

    <li>
      <h3>AIL-7: Search-small</h3>
      <span class="icon icon-search-small"><span>
    </li>

    <li>
      <h3>AIL-8: Plus</h3>
      <span class="icon icon-plus"></span>
    </li>

    <li>
      <h3>AIL-9: Minus</h3>
      <span class="icon icon-minus"></span>
    </li>

    <li>
      <h3>AIL-10: Cancel</h3>
      <span class="icon icon-cancel"></span>
    </li>

    <li>
      <h3>AIL-11: Book</h3>
      <span class="icon icon-book"></span>
    </li>

    <li>
      <h3>AIL-12: Computer</h3>
      <span class="icon icon-computer"></span>
    </li>

    <li>
      <h3>AIL-13: Play</h3>
      <span class="icon icon-play"></span>
    </li>

    <li>
      <h3>AIL-14: CD</h3>
      <span class="icon icon-cd"></span>
    </li>

    <li>
      <h3>AIL-15: Movie</h3>
      <span class="icon icon-movie"></span>
    </li>

    <li>
      <h3>AIL-16: Social Instagram</h3>
      <span class="icon icon-social-instagram"></span>
    </li>

    <li>
      <h3>AIL-17: Social Facebook</h3>
      <span class="icon icon-social-facebook"></span>
    </li>

    <li>
      <h3>AIL-18: Social Youtube</h3>
      <span class="icon icon-social-youtube"></span>
    </li>

    <li>
      <h3>AIL-19: Social Tumblr</h3>
      <span class="icon icon-social-tumblr"></span>
    </li>

    <li>
      <h3>AIL-20: Social Twitter</h3>
      <span class="icon icon-social-twitter"></span>
    </li>

    <li>
      <h3>AIL-21: NYPL Logo</h3>
      <img src="/images/nypl-acronym-lockup.svg" aria-labelledby="#nypl-acronym-lockup" />
    </li>

    <li>
      <h3>AIL-22: Social Media Icon Set</h3>
      <img src="/images/icons/social-media-icon-set.svg" />
    </li>

    <li>
      <h3>AIL-23: Arrow Down Small</h3>
      <span class="icon icon-arrow-down-small"><span>
    </li>
  </ul>
</div>