.search-promo {
  @include breakout;

  background-color: $gray-warm-light;
  min-height: 160px;

  &__content {
    @include wrapper;
    @include space-inset-s;

    display: flex;
    flex-flow: row wrap;
  }

  &__heading-section {
    @include space-stack-none;

    flex: 1 1 100%;
  }

  &__search-section {
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;
    flex: 1;

    @include breakpoint($large) {
      flex-flow: row nowrap;
    }
  }

  &__promo-text {
    flex: 1;
  }
}

.search-promo .search-bar {
  @include space-inline-s;

  flex: 2;
  width: 100%;
}

.search-promo .body-text p {
  @include space-stack-none;
}
