$break-breadcrumbs-mobile: max-width 599px;

.breadcrumbs {
  background-color: var(--ui-black);
  padding-bottom: var(--space-xs);
  padding-top: var(--space-xs);

  &__item {
    @include space-inline-xxs;

    align-items: center;
    display: inline;
    font-size: var(--font-size--1);
    line-height: 1.5;
    position: relative;
    word-break: break-word;

    &:not(:last-child) {
      &::after {
        content: "/";
        padding-left: var(--space-xxs);
      }

      @include breakpoint($break-breadcrumbs-mobile) {
        display: none;
      }
    }

    &:last-child {
      @include breakpoint($break-breadcrumbs-mobile) {
        display: block;
        padding-left: var(--space-m);
      }
    }
  }

  &__icon {
    @include icon;

    left: 0;
    position: absolute;
    top: 50%;
    transform: rotate(90deg) translateX(-50%);

    @include breakpoint($breakpoint-medium) {
      display: none;
    }
  }

  &__link,
  &__link:link,
  &__link:visited,
  &__link:focus {
    color: var(--ui-white);
    text-decoration: none;
  }

  &__item a:hover {
    color: var(--ui-gray-light);
    text-decoration: underline;
  }

  &__list {
    @include list-reset;
    @include wrapper;

    color: var(--ui-white);
  }

  .nypl--books-and-more & {
    background-color: var(--section-books-and-more-secondary);
  }

  .nypl--locations & {
    background-color: var(--section-locations-secondary);
  }

  .nypl--research & {
    background-color: var(--section-research-secondary);
  }

  .nypl--whats-on & {
    background-color: var(--section-whats-on-secondary);
  }
}

.storybook-breadcrumbsExample {
  .breadcrumbs {
    flex: 1 1 50%;
    margin-left: unset;
    margin-right: var(--space-l);
    max-height: 42px;
  }
}
