@import "../Icons/Icon.css";
@import "../../styles/base/_02-breakpoints.css";
@import "../../styles/base/_03-mixins.css";

.breadcrumbs {
  @add-mixin breakout;

  background-color: var(--ui-black);
  padding-bottom: var(--space-xs);
  padding-top: var(--space-xs);

  &__item {
    align-items: center;
    display: inline;
    font-size: var(--font-size--1);
    line-height: 1.5;
    margin-right: var(--space-xxs);
    position: relative;
    word-break: break-word;

    &:not(:last-child) {
      &::after {
        content: "/";
        padding-left: var(--space-xxs);
      }

      @media (--medium-break) {
        display: none;
      }
    }

    &:last-child {
      @media (--medium-break) {
        padding-left: var(--space-m);
      }
    }
  }

  &__icon {
    @add-mixin icon;

    left: 0;
    position: absolute;
    top: 50%;
    transform: rotate(90deg) translateX(-50%);

    @media (--medium-break) {
      display: none;
    }
  }

  &__link,
  &__link:link,
  &__link:visited,
  &__link:focus {
    color: inherit;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__list {
    @add-mixin list-reset;
    @add-mixin wrapper;

    color: var(--ui-white);
  }

  .nypl--books-and-more & {
    background-color: var(--section-books-and-more-secondary);
  }

  .nypl--locations & {
    background-color: var(--section-locations-secondary);
  }

  .nypl--research & {
    background-color: var(--section-research-secondary);
  }

  .nypl--whats-on & {
    background-color: var(--section-whats-on-secondary);
  }
}

.storybook-breadcrumbsExample {
  .breadcrumbs {
    flex: 1 1 50%;
    margin-left: unset;
    margin-right: var(--space-l);
    max-height: 42px;
  }
}
