$sidebar-width: 25%;
$sidebar-width-s: calc(25% - calc(4 * var(--space-s)));

.main {
  @include wrapper;

  display: block; // Fix for IE weirdness

  &--with-sidebar {
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint($breakpoint-medium) {
      flex-flow: row wrap;
    }
  }
}

.content-header {
  @include breakout;

  width: 100vw;
}

.content-top {
  flex: 1 0 100%;
}

.content-primary {
  flex: 1 1;
  width: 100%;

  &--with-sidebar-left {
    display: flex;
    flex-flow: column nowrap;
    order: 1;

    @include breakpoint($breakpoint-medium) {
      @include space-inline-none;

      min-width: 0;
    }
  }
}

.content-secondary {
  flex: 0 0 $sidebar-width;

  @include breakpoint($breakpoint-medium) {
    order: 1;

    &--with-sidebar-left {
      @include space-inline-l;

      flex-basis: $sidebar-width-s;
    }

    &--with-sidebar-right {
      flex-basis: $sidebar-width-s;
      margin-left: var(--space-l);
    }
  }
}
