@import "../../styles/base/03-mixins";

$sidebar-width: 25%;
$sidebar-width-s: calc(25% - calc(4 * var(--space-s)));

.main {
  @include wrapper;

  display: block; // Fix for IE weirdness

  &--with-sidebar {
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint($breakpoint-medium) {
      flex-flow: row wrap;
    }
  }
}

.content-header {
  @include breakout;

  width: 100vw;
}

.content-top {
  flex: 1 0 100%;
}

.content-primary {
  width: 100%;

  &--with-sidebar-right,
  &--with-sidebar-left {
    @include breakpoint($breakpoint-medium) {
      flex: 1 1 60%;
      min-width: 0;
    }
  }

  &--with-sidebar-left {
    display: flex;
    flex-flow: column nowrap;
    order: 1;

    @include breakpoint($breakpoint-medium) {
      margin-right: 0;
    }
  }
}

.content-secondary {
  @include breakpoint($breakpoint-medium) {
    flex: 0 1 $sidebar-width;
    order: 1;

    &--with-sidebar-left {
      flex-basis: $sidebar-width-s;
      margin-right: var(--space-l);
    }

    &--with-sidebar-right {
      flex-basis: $sidebar-width-s;
      margin-left: var(--space-l);
    }
  }
}
