.location-info {
  &__accessibility {
    @include space-stack-s;
  }

  &__accessibility-rating {
    @include body-small;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .icon {
      @include space-inline-xs;
    }
  }

  &__accessibility-description {
    letter-spacing: 0.0275em;
  }
}
