@mixin icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;

  &--rotate-180 {
    transform: rotate(180deg);
  }

  &--rotate-270 {
    transform: rotate(270deg);
  }

  &--rotate-0 {
    transform: rotate(0deg);
  }

  &--rotate-90 {
    transform: rotate(90deg);
  }

  &--left {
    margin-right: var(--space-xxs);
  }

  &--right {
    margin-left: var(--space-xxs);
  }

  &--xxxlarge {
    height: var(--space-xxxl);
    width: var(--space-xxxl);
  }

  &--xxlarge {
    height: var(--space-xxl);
    width: var(--space-xxl);
  }

  &--xlarge {
    height: var(--space-xl);
    width: var(--space-xl);
  }

  &--large {
    height: var(--space-l);
    width: var(--space-l);
  }

  &--medium {
    height: var(--space-m);
    width: var(--space-m);
  }

  &--small {
    height: var(--space-s);
    width: var(--space-s);
  }

  &--ui-black {
    svg {
      fill: var(--ui-black);
    }
  }

  &--ui-white {
    svg {
      fill: var(--ui-white);
    }
  }

  &--brand-primary {
    svg {
      fill: var(--brand-primary);
    }
  }

  &--section-research-secondary {
    svg {
      fill: var(--section-research-secondary);
    }
  }
}

.icon {
  @include icon;
}
