// Start libs

// Better style reset
// @import "~normalize.css/normalize";
// A cleaner way to do breakpoints/media queries, http://breakpoint-sass.com/
@import "~breakpoint-sass/stylesheets/breakpoint";
@import "~system-font-css/_system-font.scss";
// For the React DatePicker package.
@import "~/../react-datepicker/dist/react-datepicker.min.css";

// End libs

// Order important
@import "./styles/base/_01-breakpoints";
@import "./styles/base/_02-mixins";
@import "./styles/base/_place-holder";
@import "./styles/space/_space-inline";
@import "./styles/space/_space-inset";
@import "./styles/space/_space-stack";

// Components.
@import "./components/Autosuggest/_Autosuggest.scss";
@import "./components/DatePicker/_DatePicker.scss";
