.image {
    display: block;
    height: auto;
    max-width: 100%;
}

.figure {
    &__image {
        @include space-stack-xxs;
    }

    &__figcaption {
        font-style: italic;
    }
}

.figcaption {
    &__credit,
    &__caption {
        @include space-stack-xxs;
    }
}
