{% set article_vars = 
  {
    'headline': ( headline ),
    'article_hero_image': ( article_hero_image ),
    'breadcrumbs': {
      'link1': ( link1 ),
      'link2': ( link2 ),
      'link3': ( link3 ),
      'link4': ( link4 ),
    },
    'main_cta': ( main_cta ),
    'intro_1': ( description ),
    'intro_2': ( description ),
    'featured_fellows': {
      'featured_fellow_1': {
        'img.image_1_1.src': ( img.image_1_1.src ),
        'img.image_1_1.alt': ( img.image_1_1.alt ),
        'paragraph': ( paragraph ),
        'quote_source': ( quote_source ),
      },
      'featured_fellow_2': {
        'img.image_1_1.src': ( img.image_1_1.src ),
        'img.image_1_1.alt': ( img.image_1_1.alt ),
        'paragraph': ( paragraph ),
        'quote_source': ( quote_source ),
      },
    },
    'url': ( url ),
    'url_title': ( excerpt.short ),
    'all_fellows': {
      "fellow_1": {
        "fellow_name": "Fellow Name",
        "img": {
          "src": "../../images/image_12_9.png",
          "alt": "Fellow's profile picture",
          "photographer": "Photographer Name",
        },
        "fellow_book": "Lorem Ipsum Dolor Sit Amet",
        "fellow_bio": "Bio paragraph of the fellow will go here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      }
    }
  }
%}

{% extends "@templates/layout.twig" %}

{% block hero %}
  {% include "@organisms/hero-header/OSH-001-hero-header.twig" with article_vars %}
{% endblock %}

{% block breadcrumbs %}
  {% include "@molecules/navigation/MN-001-breadcrumb.twig" with article_vars %}
{% endblock %}

{% block content %}
  <main>
    {% include "@atoms/buttons/AB-001-button-filled.twig" with {'button_string': ( article_vars.main_cta ), 'button_fluid_bool': false} %}
{#  
    {% include "@molecules/text/MTT-001-body-text.twig" with {'paragraph': ( article_vars.intro_1 )} %}

    {% include "@molecules/text/MTT-001-body-text.twig" with {'paragraph': ( article_vars.intro_2 )} %}

    {% for key, featured_fellow in article_vars.featured_fellows %}
      {% include "@molecules/text/00-text/03-blockquote-with-photo.twig" with ( featured_fellow ) %}
    {% endfor %}

    {% include "@molecules/text/00-text/02-MTT-013-block-link.twig" with article_vars %}
 #}
    <h2>{{ headline.short }}</h2>

    {# <ul>
      {% for fellow in article_vars.all_fellows %}
        <li>{% include "@molecules/cards/001-fellow-card.twig" %}</li>
      {% endfor %}
    </ul> #}

    <p>{{ excerpt.long }}</p>
  </main>

  {# {% include "@organisms/lists/003-quick-links.twig" %} #}
{% endblock %}