{% set article_vars = 
  {
    'headline': ( headline ),
    'article_hero_image': ( article_hero_image ),
    'breadcrumbs': {
      'link1': ( link1 ),
      'link2': ( link2 ),
      'link3': ( link3 ),
      'link4': ( link4 ),
    },
    catalog_items: {
      header: 'Booklist Header',
      border: true,
      images: true,
      link: 'link',
      intro: 'White, percolator aroma, trifecta, doppio blue mountain eu con panna kopi-luwak café au lait. Pumpkin spice galão breve skinny so sugar cream seasonal White, percolator aroma, trifecta, doppio blue mountain eu con panna',
      items: {
        item_1: {
          'media_type': 'cd',
          'title': ( headline ),
          'year': ( year.long ),
          'file_type': "Computer File",
          'author': {
            'first': ( author.first ),
            'last': ( author.last )
          }
        }
      }
    }
  }
%}

{% extends "@templates/layout.twig" %}

{% block breadcrumbs %}
  {% include "@molecules/navigation/MN-001-breadcrumb.twig" with article_vars %}
{% endblock %}

{% block content %}
  <main>
    {% include "@atoms/typography/AT-001-page-title-h1.twig" %}

    {% include "@atoms/typography/AT-010-body-text.twig" %}

    <h2>{{ headline }}</h2>
    {% include "@organisms/catalog-items/00_catalogs.twig" with article_vars.catalog_items %}

    {% include "@organisms/image-gallery/00_image-gallery.twig" with { header: 'Image Gallery Header' } %}
{#  
    {% include "@molecules/text/MTT-001-body-text.twig" with {'paragraph': ( article_vars.intro_1 )} %}

    {% include "@molecules/text/MTT-001-body-text.twig" with {'paragraph': ( article_vars.intro_2 )} %}

    {% for key, featured_fellow in article_vars.featured_fellows %}
      {% include "@molecules/text/00-text/03-blockquote-with-photo.twig" with ( featured_fellow ) %}
    {% endfor %}

    {% include "@molecules/text/00-text/02-MTT-013-block-link.twig" with article_vars %}
 #}

    {# <ul>
      {% for fellow in article_vars.all_fellows %}
        <li>{% include "@molecules/cards/001-fellow-card.twig" %}</li>
      {% endfor %}
    </ul> #}

  </main>

  {# {% include "@organisms/lists/003-quick-links.twig" %} #}
{% endblock %}