.accordion {
  border: 1px solid var(--ui-gray-medium);
  color: inherit;
  width: 100%;

  &--fixed-height {
    display: flex;
    flex-direction: column;
    max-height: inherit;
  }

  &__content {
    display: none;
    padding: var(--space-xxs) var(--space-xxxl) var(--space-xs) var(--space-s);
    transition: all 0.35s;
  }

  &__label {
    @include button--outline;

    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: 500;
    justify-content: space-between;

    .icon--minus {
      display: none;
    }

    &:focus {
      position: relative;
    }

    &:hover {
      background-color: var(--ui-gray-light);
    }

    &--faq {
      font-size: var(--font-size-1);
      padding: var(--space-s);
    }
  }

  &__input {
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:focus {
      + .accordion__label {
        @include focus-outline;
      }
    }

    &:checked {
      + .accordion__label .icon--minus {
        display: inline;
      }

      + .accordion__label .icon--plus {
        display: none;
      }

      ~ .accordion__content {
        display: inline-block;

        &--fixed-height {
          // Adds margin so that content always appears outside the focus ring
          margin-top: var(--space-xxs);
          overflow-y: auto;
        }
      }
    }
  }

  // Eliminates the double border on accordion sets in ul-lis
  li:not(:first-of-type) & {
    margin-top: -1px;
  }
}
