.tab {
    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
    }
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.tab-label .icon--minus {
    display: none;
}

input:checked {
    + .tab-label .icon--minus {
        display: inline;
    }
    + .tab-label .icon--plus {
        display: none;
    }
    ~ .accordion__content {
        max-height: 100vh;
    }
}

.accordion {
    border: 1px solid var(--ui-gray-medium);
    color: inherit;
    width: 100%;

    &__button {
        @include button--outline;

        align-items: center;
        border: none;
        display: inline-flex;
        font-weight: 500;
        justify-content: space-between;
        width: 100%;

        &:hover {
            background-color: var(--ui-gray-light);
        }

        &--faq {
            font-size: var(--font-size-1);
            padding: var(--space-s);
        }
    }

    &__content {
        max-height: 0;
        transition: all 0.35s;
    }

    // Eliminates the double border on accordion sets in ul-lis
    li:not(:first-of-type) & {
        margin-top: -1px;
    }
}
