// Create a mixin for paragraph styles that can be implemented
// in components with other classnames.
@mixin paragraph($margin: 0 0 $space) {
  margin: #{$margin};
}

@mixin body-copy {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.0275em;
}

@mixin body-small {
  font-family: $font-body;
  font-size: 0.875rem;
  line-height: 1.428571429em;
  letter-spacing: -0.017142857em;
}

@mixin body-small-bold {
  @include body-small;

  font-weight: 700;
}

body {
  @include body-copy;

  color: $black;
}

p,
.paragraph {
  @include paragraph;
}

.blockquote {
  font-style: italic;
  border-left: solid 3px $gray-light;
  margin-left: 1em;
  padding-left: 1em;
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

.text-long {
  blockquote {
    @extend .blockquote;
  }

  hr {
    @extend .hr;
  }
}
