@mixin link {
    color: var(--ui-link-primary);

    &--no-underline {
        text-decoration: none;
    }

    &:hover {
        color: var(--ui-link-secondary);
    }

    &--dark-background {
        color: var(--ui-white);

        &:hover {
            color: var(--ui-gray-light);
        }
    }
}

@mixin more-link {
    align-items: center;
    color: var(--ui-link-primary);
    display: inline-flex;
    justify-content: space-between;
    text-decoration: underline;

    &:hover {
        color: var(--ui-link-secondary);
        text-decoration: underline;
    }

    &__icon {
        @include icon;

        height: var(--space);
        text-decoration: none;
        width: var(--space);

        &--left {
            margin-right: var(--space-xxs);
        }

        &--right {
            margin-left: var(--space-xxs);
        }
    }
}

a,
.link {
    @include link;
}

.more-link {
    @include more-link;
}
