// This is used by the `Icon` component rendered inside the `Link` component
// and needs to be here until `Icon` is converted to use Chakra.
.more-link {
  &__icon {
    @include icon;

    height: var(--space-s);
    text-decoration: none;
    width: var(--space-s);

    &--left {
      margin-right: var(--space-xs);
    }

    &--right {
      margin-left: var(--space-xs);
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }
}
