/**
 * --nypl-space-xs: --nypl-space-s / 2   //  8px or 0.5rem
 * --nypl-space-s: --nypl-space-s * 1;   // 16px or 1rem
 * --nypl-space-m: --nypl-space * 1.5;   // 24px or 1.5rem
 * --nypl-space-l: --nypl-space * 2;     // 32px or 2rem
 * --nypl-space-xl: --nypl-space * 3;    // 48px or 3rem
 */

@mixin space-inset-none {
  padding: 0;
}

@mixin space-inset-xs {
  padding: var(--nypl-space-xs);
}

@mixin space-inset-s {
  padding: var(--nypl-space-s);
}

@mixin space-inset-m {
  padding: var(--nypl-space-m);
}

@mixin space-inset-l {
  padding: var(--nypl-space-l);
}

@mixin space-inset-xl {
  padding: var(--nypl-space-xl);
}

@mixin get-space-inset($id) {
  @if $id == "none" {
    @include space-inset-none;
  }

  @if $id == "xs" {
    @include space-inset-xs;
  }

  @if $id == "s" {
    @include space-inset-s;
  }

  @if $id == "m" {
    @include space-inset-m;
  }

  @if $id == "l" {
    @include space-inset-l;
  }

  @if $id == "xl" {
    @include space-inset-xl;
  }
}
