/**
 * --nypl-space-xxs: --nypl-space-s / 4  //  4px or 0.25rem
 * --nypl-space-xs: --nypl-space-s / 2   //  8px or 0.5rem
 * --nypl-space-s: --nypl-space-s * 1;   // 16px or 1rem
 * --nypl-space-m: --nypl-space * 1.5;   // 24px or 1.5rem
 * --nypl-space-l: --nypl-space * 2;     // 32px or 2rem
 * --nypl-space-xl: --nypl-space * 3;    // 48px or 3rem
 * --nypl-space-xxl: --nypl-space * 4;   // 64px or 4rem
 */

@mixin space-inline-none {
  margin-right: 0;
}

@mixin space-inline-xxs {
  margin-right: var(--nypl-space-xxs);
}

@mixin space-inline-xs {
  margin-right: var(--nypl-space-xs);
}

@mixin space-inline-s {
  margin-right: var(--nypl-space-s);
}

@mixin space-inline-m {
  margin-right: var(--nypl-space-m);
}

@mixin space-inline-l {
  margin-right: var(--nypl-space-l);
}

@mixin space-inline-xl {
  margin-right: var(--nypl-space-xl);
}

@mixin space-inline-xxl {
  margin-right: var(--nypl-space-xxl);
}

@mixin get-space-inline($id) {
  @if $id == "none" {
    @include space-inline-none;
  }

  @if $id == "xxs" {
    @include space-inline-xxs;
  }

  @if $id == "xs" {
    @include space-inline-xs;
  }

  @if $id == "s" {
    @include space-inline-s;
  }

  @if $id == "m" {
    @include space-inline-m;
  }

  @if $id == "l" {
    @include space-inline-l;
  }

  @if $id == "xl" {
    @include space-inline-xl;
  }

  @if $id == "xxl" {
    @include space-inline-xxl;
  }

  @if $id == "xxxl" {
    @include space-inline-xxxl;
  }
}
