/**
 * --nypl-space-xxs: --nypl-space-s / 4   //  4px or 0.25rem
 * --nypl-space-xs: --nypl-space-s / 2    //  8px or 0.5rem
 * --nypl-space-s: --nypl-space-s * 1;    // 16px or 1rem
 * --nypl-space-m: --nypl-space-s * 1.5;  // 24px or 1.5rem
 * --nypl-space-l: --nypl-space-s * 2;    // 32px or 2rem
 * --nypl-space-xl: --nypl-space-s * 3;   // 48px or 3rem
 * --nypl-space-xxl: --nypl-space-s * 4;  // 64px or 4rem
 * --nypl-space-xxxl: --nypl-space-s * 6; // 96px or 6rem
 */

@mixin space-stack-none {
  margin-bottom: 0;
}

@mixin space-stack-xxs {
  margin-bottom: var(--space-xxs);
}

@mixin space-stack-xs {
  margin-bottom: var(--space-xs);
}

@mixin space-stack-s {
  margin-bottom: var(--space-s);
}

@mixin space-stack-m {
  margin-bottom: var(--space-m);
}

@mixin space-stack-l {
  margin-bottom: var(--space-l);
}

@mixin space-stack-xl {
  margin-bottom: var(--space-xl);
}

@mixin space-stack-xxl {
  margin-bottom: var(--space-xxl);
}

@mixin space-stack-xxxl {
  margin-bottom: var(--space-xxxl);
}

@mixin space-stack-page {
  @include space-stack-l;

  @include breakpoint($breakpoint-large) {
    @include space-stack-xl;
  }

  &--full {
    @include space-stack-xxl;

    @include breakpoint($breakpoint-large) {
      @include space-stack-xxxl;
    }
  }
}

@mixin remove-stack-page {
  margin-top: calc(-1 * #{$space-l});

  @include breakpoint($breakpoint-large) {
    margin-top: calc(-1 * #{$space-xl});
  }

  &--full {
    margin-top: calc(-1 * #{$space-xxl});

    @include breakpoint($breakpoint-large) {
      margin-top: calc(-1 * #{$space-xxxl});
    }
  }
}

@mixin get-space-stack($id) {
  @if $id == "none" {
    @include space-stack-none;
  }

  @if $id == "xxs" {
    @include space-stack-xxs;
  }

  @if $id == "xs" {
    @include space-stack-xs;
  }

  @if $id == "s" {
    @include space-stack-s;
  }

  @if $id == "m" {
    @include space-stack-m;
  }

  @if $id == "l" {
    @include space-stack-l;
  }

  @if $id == "xl" {
    @include space-stack-xl;
  }

  @if $id == "xxl" {
    @include space-stack-xxl;
  }

  @if $id == "xxxl" {
    @include space-stack-xxxl;
  }
}
