
.header-with-image-right {
  @include breakout;

  background-color: $gray-warm-xlight;

  &__content {
    @include wrapper;

    display: flex;
    flex-flow: column;

    @include breakpoint($medium) {
      flex-flow: row-reverse;
    }
  }

  &__heading-text { 
    flex: 1 1 auto;
  }

  &__heading {
    background-color: $nypl-turquoise-regular;
  }

  &__image {
    flex: 1 1 100%;

    @include breakpoint($medium) {
      flex: 1 1 600px;
    }

    @include breakpoint($large) {
      flex: 1 1 400px;
    }
  }
}

.header-with-image-right {
  .image {
    width: 100%;
  }
}

.header-with-image-right__text,
.header-with-image-right__heading {
  @include wrapper;
}
