$search-header--breakpoint: 1076px;

.search-header {
  @include breakout;
  @include space-stack-l;
  
  background-color: $nypl-turquoise-regular;

  &__content {
    @include wrapper;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 100%;
    @include space-inset-s;

    @include breakpoint($search-header--breakpoint) {
      align-items: center;
      flex-flow: row nowrap;
    }
  }

  &__rn-section-title {
    @include space-stack-none;
    @include space-inline-s;

    @include link; 
    
    flex: 1 1;
  }

  &__search-bar {
    @include space-stack-xs;

    flex: 3 1;
    width: 100%;

    @include breakpoint($search-header--breakpoint) {
      @include space-stack-none;
      @include space-inline-s;
    }
  }

  &__promo-text {
    @include space-stack-xs;

    flex: 1 1;

    @include breakpoint($search-header--breakpoint) {
      align-self: flex-end;
    }
  }
}
