$header-with-image-right--break: 1028px;

.hero {
  background-color: $gray-warm-xlight;
}

.hero--primary {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  min-height: 350px;

  .hero__content {
    color: $white;
    background-color: $black;
    flex: 0 0 100%;
    padding: $space-m $space-l;

    a {
      color: inherit;
      display: inline-block;
    }

    @include breakpoint($medium) {
      flex: 0 0 60%;
      max-width: 960px;
    }
  }

  .hero__heading,
  .hero__subtitle {
    @include space-stack-none;
  }
}

.hero--secondary {
  display: flex;
  flex-flow: column nowrap;
  box-shadow: inset 0 3.5rem $black;

  .hero__heading {
    padding-top: $space-xxs;
    color: $white;
  }

    @include breakpoint($large) {
      flex-flow: row nowrap;
      height: 200px;
      justify-content: stretch;
    }

  .hero__content {
    flex: 1 1 100%;
    padding: 0 $space-s;
  }

  .hero__image {
    flex: 0 0 300px;
    margin: 0 $space-l;
  }
}

// .exhibition-hero {
//   &__content {
//     @include breakpoint($break-exhibition-hero-max) {
//       padding-top: $space-xl;
//     }

//     @include breakpoint($break-exhibition-hero) {
//       @include wrapper;

//       display: flex;
//       flex-flow: row nowrap;
//       min-height: 350px;
//     }
//   }

//   &__heading {
//     @include space-inset-s;

//     margin: auto;

//     @include breakpoint($break-exhibition-hero-max) {
//       @include space-stack-xl;
//     }

//     @include breakpoint($break-exhibition-hero) {
//       @include space-inset-l;
//     }
//   }

//   &__location-info {
//     @include space-inset-s;

//     background-color: $gray-warm-light;

//     @include breakpoint($break-exhibition-hero) {
//       @include space-inset-l;

//       flex: 0 0 300px;
//       margin-left: 5rem;
//     }
//   }
// }


// .header-with-image-right {

//   &__heading-text { 
//     flex: 1 1 auto;
//   }

//   &__heading {
//     background-color: $nypl-turquoise-regular;
//   }

//   &__image {
//     flex: 1 1 100%;

//     @include breakpoint($medium) {
//       flex: 1 1 600px;
//     }

//     @include breakpoint($large) {
//       flex: 1 1 400px;
//     }
//   }
// }

// .header-with-image-right {
//   .image {
//     width: 100%;
//   }
// }

// .header-with-image-right__text,
// .header-with-image-right__heading {
//   @include wrapper;
// }
