$header-with-image-right--break: 1028px;

.hero {
  background-color: $gray-warm-xlight;
}

.hero--primary {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  min-height: 350px;

  .hero__content {
    color: $white;
    background-color: $black;
    flex: 0 0 100%;
    padding: $space-m $space-l;

    a {
      color: inherit;
      display: inline-block;
    }

    @include breakpoint($medium) {
      flex: 0 0 60%;
      max-width: 960px;
    }
  }

  .hero__heading,
  .hero__subtitle {
    @include space-stack-none;
  }
}

.hero--secondary {
  display: flex;
  flex-flow: column nowrap;
  box-shadow: inset 0 3.5rem $black;

  .hero__heading {
    padding-top: $space-xxs;
    color: $white;
  }

    @include breakpoint($large) {
      flex-flow: row nowrap;
      height: 200px;
      justify-content: stretch;
    }

  .hero__content {
    flex: 1 1 100%;
    padding: 0 $space-s;
  }

  .hero__image {
    flex: 0 0 300px;
    margin: 0 $space-l;
  }
}

.hero--tertiary {
  
}

.hero--quaternary {}
