/////////////////////
// General Mixins (put specific ones in component files where applicable)

/// Mixin - Clearfix.
/// Adds clearfix based on http://bourbon.io/docs/#clearfix
/// use example = @include clearfix

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin fieldset-reset {
  border: none;
  margin: 0;
  padding: 0;
}

/// Mixin - Wrapper
/// Outer container mixin for large screens
@mixin wrapper(
  $container-max-width: $max-width,
  $outer-container-break: $nypl-breakpoint-small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: var(--nypl-space-s)
) {
  margin: #{$v-margin} auto;
  max-width: #{$container-max-width};
  padding: #{$v-padding} #{$h-padding};
  width: 100%;
}

/// Use the breakout mixin for elements that should be edge-to-edge
/// Even when a parent container uses the wrapper mixin
@mixin breakout($v-padding: var(--nypl-space-s)) {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

// Use the screenreader-only mixin for elements that you want to be visually hidden, but still want screenreaders to read out
@mixin screenreader-only() {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal;
}

// Focus state mixin
@mixin focus-outline($darkBackground: false) {
  outline: 2px solid var(--nypl-colors-ui-focus);
  outline-offset: 2px;
  z-index: 9999;

  @if $darkBackground {
    outline-color: var(--nypl-colors-ui-white);
  }
}

//Convert pixel values to rem
@function to-rem($size) {
  @return $size / 16px * 1rem;
}

//Process a color variable so that it can be used in a data URI/URL
@function url-friendly-colour($colour) {
  @return "%23" + str-slice("#{$colour}", 2, -1);
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;

    opacity: 1;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}
