// Kept for backwards compatibility.
.nypl-ds {
  box-sizing: border-box;
  color: var(--nypl-colors-ui-black);
  font-family: var(--nypl-fonts-body);

  // Sets up the base font-size, 1rem, for the system
  font-size: var(--nypl-fontSizes-text-default);
  font-weight: 300;
  line-height: 1.5;

  // Users with non-overlay scrollbars have a small horizontal scrollbar from
  // our breakout mixin. Fix identified here: https://cloudfour.com/thinks/breaking-out-with-viewport-units-and-calc/#one-big-dumb-caveat
  overflow-x: hidden;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
}
