.nypl-ds {
    box-sizing: border-box;
    // Users with non-overlay scrollbars have a small horiznotal scrollbar from our breakout mixin. Fix identified here: https://cloudfour.com/thinks/breaking-out-with-viewport-units-and-calc/#one-big-dumb-caveat
    overflow-x: hidden;

    *,
    *::after,
    *::before {
        box-sizing: inherit;
    }
}
