// Focus state mixin
@mixin focus-outline($darkBackground: false) {
  outline: 2px solid var(--ui-focus);
  outline-offset: 2px;
  z-index: 9999;

  @if $darkBackground {
    outline-color: var(--ui-white);
  }
}

// Apply :focus behavior to focusable elements only (For IE 11)
.nypl-ds {
  input,
  select,
  textarea,
  button {
    &:not([disabled]) {
      &:focus {
        @include focus-outline;
      }
    }
  }

  iframe,
  [href],
  [tabindex],
  [contentEditable="true"] {
    &:focus {
      @include focus-outline;
    }
  }
}

.focus {
  @include focus-outline;
}
