<div class="fellow-card">
  <figure>
    {% include "@atoms/images/AI-003-image-12x9.twig" %}
    <figcaption>Photo by Joseph Bell</figcaption>
  </figure>

  <h3>David Bell</h3>

  <p>The Idols of the Age of Revolution: Charisma and Power in the Atlantic World, 1750–1830</p>

  <h3>The John and Constnace Birkelund Fellow</h3>

  <p>David Bell, Lapidus Professor in the Department of History at Princeton, is a historian of modern Europe. Among his books are The First Total War: Napoleon’s Europe and the Making of Warfare as We Know It and Shadows of Revolution: Reflections on France, Past and Present. He writes regularly for publications including the Nation, the New York Review of Books, and the London Review of Books. While at the Cullman Center he will be completing a book tentatively titled The Idols of the Age of Revolution: Charisma and Power in the Atlantic World, 1750–1830.</p>

</div>